.ruby-version
.idea
config/setup_load_paths.rb
log/*
.DS_Store
*.log
*.pid
tmp/*
doc
db/*.sqlite3
# Prevent adding virtual_cruise (videos) to repository
public/virtual_cruise*
# Prevent recursing the project inside itself. Has happened!
ushydro
# Editors
*.swp
*.swo
