<% content_for :title do -%>Progress<% end -%>

<div id="map" style="width:800px;height:600px;"></div>

<% jsapi_modules = CGI.escape('{"modules":[{"name":"maps","version":"2"}]}') -%>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload=<%=jsapi_modules-%>"></script>
<script type="text/javascript">google.load('jquery','1.4.2');</script>

<%= javascript_include_tag "progress" %>
