#bannerA, #bannerB {
  position: absolute;
  left: 0;
  width: 100%;
  background: url('../images/s4p/banner.jpg');
  height: 125px;
}
#s4p_nav {
	background-color: #F0F8FF;
	border-top: 8px solid #4682b4;
	border-bottom: 4px solid #4682b4;
	border-left: 1.5px solid #4682b4;
	border-right: 1.5px solid #4682b4;
	float: right;
	padding: 7px;
	position: relative;
	margin-bottom: -30px;
	margin-top: 69px;
	width: 200px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
}
#s4p_nav ul {
    line-height: 1.7em;
    list-style-type: square;
    margin-left:15px;
    margin-top: 5px;
}
#s4p_nav li {
	display: block;
	font-size: small;
	list-style-type: none;
	margin-left: -22px;
	margin-right: -7px;
	padding-left: 20px;
	text-transform: uppercase;
	text-align: left;
}
#s4p_nav li:hover {
	background-color: #ffffff !important;	
}
#s4p_nav a {
	display: block;
	padding:7.5px 7.5px 7.5px 12px;
	text-decoration: none;
	color: #696969;
}

/*--------------Main S4P Page---------------------*/
.cruise_summary {
	width: 390px;
}

.cruise_summary .label {
	font-weight: bold;
	text-align: right;
	color: #333333;
}

/*-----------Old Weekly Report Page---------------*/
#s4p_report_nav {
	float: left;
	padding-right: 20px;
}

#s4p_report_nav ul {
	margin: -3px;
	padding-left: 3px;
}

#s4p_report_nav a{
	color: #4ecbf6;
	font-weight: bold;
	text-decoration: none;
}
#s4p_report_nav a:hover {
	color: #06629b !important;
	font-weight: bold;
	text-decoration: none;
}
#s4p_report_nav h3 {
	font-size:15px;
	margin-bottom: 5px;
}

.rounded {
	position: relative;
	background-color:#effafe;
	padding: 15px;
	margin-bottom:25px;

	-moz-border-radius:5px;
}

#weekly_report_page {
	background-color: #f0f0f0;
	width: 465px;
	padding: 10px;
}

#weekly_report {
	background-color: #06629b;
}

.intro {
	background-color:#effafe;
	font-size: 15px;
	-moz-border-radius:5px;
 	text-align: center;
	padding: 30px;
	margin: 30px;
}

#weekly_report_page p {
	line-height: 1.5em;
	width: 100%;
	padding-bottom: 15px;
}
#weekly_report_page img{
	border: 5px solid #add8e6;
	margin-bottom:5px;
	margin-right: 10px;
	margin-top: 10px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	text-align: center;
}
#picture {
  position: relative;
  height: 125px;
  z-index: 1;
}

/*-------------------Blog-----------------------*/
h1.blog {
  color: #4ECBF6;
  font-size: 1.25em;
  font-weight: bold;
  border-bottom: 1px dotted #808080 !important;
  padding-top: 12px !important;
  text-transform: capitalize;
  width: 100% !important;
}

h2 {
	font-size:0.9em;text-align:center;
}
.older {
  float: left;
  width: 175px;
  text-align: left;
  text-transform: capitalize;
}
.older a {
	background: url('/images/s4p/older.png') no-repeat top left;
	padding-left: 15px;
	height: 50px;
}
.toplevel a {
		background: url('/images/s4p/map.png') no-repeat top right;
		padding-right: 35px;
		height: 50px;
}
.homelevel a {
		background: url('/images/s4p/home.png') no-repeat top right;
		padding-right: 22px;
		height: 50px;
}
.newer {
  float: right;
  width: 175px;
  text-align: right;
  text-transform: capitalize;
}
.read_more, .newer a {
	background: url('/images/s4p/newer.png') no-repeat top right;
	padding-right: 15px;
	height: 50px;
}
.read_more_spacer {
	padding-bottom: 15px !important;
}
#nav {
  margin: 1em;
}
.nav {
  text-align: center;
}
.blog_desc {
	line-height: 1.5em;
	padding-bottom: 20px;
}
hr {
	border: 1px solid #808080;
}


/*----------------Blog Post---------------------*/
.nav a{
	text-decoration: none !important;
}

.nav a:hover {
	color: #758d9c !important;
}

.post {
	background-color: #fff;
	padding-bottom: 30px;
}

#weekly_report {
	background-color: #06629b;
}

.progress {
	background-color:#effafe !important;
	font-size: 15px;
	-moz-border-radius:5px;
 	text-align: center;
	padding: 30px;
	margin: 2px 30px 30px;
}
span.caption {
  font-size: 9pt !important;
  font-style: italic;
  color: #369 !important;
  text-align: left !important;
}
.date {
  font-style: italic;
}
h3 {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
}
h4.date {
  font-style: italic;
}
.header {
  background-color: #ccc;
  padding: 0.25em;
  text-align: center;
}

p.img-left, p.img-right {
  max-width: 150px;
  margin-top: 0;
  clear: both;
}
p.img-left {
  float: left;
  padding-right: 30px;
}
p.img-right {
  float: right;
  padding-left: 30px;
}
p.img-right img, p.img-left img {
  margin-left: 0;
}
.entry {
	background-color: #dcdcdc;
	margin-top: 27px;
}
.entry_body {
	background-color: #f0f0f0;
	padding: 30px;
}
.entry_body p {
	width: 100% !important;
	text-align: justify;
	margin-bottom: 2px;
}

.entry_body img{
	float: none;
}

.entry_table {
	margin-left:auto;
	margin-right:auto;
}
.entry_table td {
	vertical-align: top;
}
.note {
	color: #369;
	font-style:italic;
}