<div id="page_title">Cruise Maps &amp; Schedule</div>
<div id="header_title">Cruise maps</div>

<table id="maps_table">
  <tr>
    <td><a href="/repeathydro_map.html"><img src="images/UShydro_cruises_map_no_title.jpg" style="height: 250px;"></a><br /><a href="/repeathydro_map.html">U.S. Repeat Hydrography Cruises (click to view full sized map)</a></td>
    <td><a href="//go-ship.org/RefSecs/goship_ref_secs.html"><img src="images/goship_map_2012-12.png"></a><br /><a style="align: center;" href="//go-ship.org/RefSecs/goship_ref_secs.html"> International Planned Cruises (click to connect to GO-SHIP map)</a></td>
  </tr>
</table>

<div id="header_title">Links to more information on cruises</div>

<ul id="maps_list">
  <li><a href="core_measurements.html">Description and tables of U.S. measurements and U.S. measurement groups</a></li>
  <li><a href="shipschedules.html">Ship scheduling sites</a></li>
  <li><a href="http://cdiac.esd.ornl.gov/oceans/RepeatSections/repeat_map.html">CDIAC: map of completed international sections and data links</a></li>
  <li><a href="http://ioc3.unesco.org/ioccp/Hydrography/New_GlobalMap.html">International Ocean Carbon Coordination Project: map of planned international sections and data links</a></li>
  <li><a href="http://www.clivar.org/carbon_hydro">CLIVAR/CO2 website with map and data links</a></li>
</ul>

<div id="cruise-schedule" class="cruise-schedule">
  <div id="header_title">Schedule and Data links of US CO2/CLIVAR Hydrography Lines <span class='smaller'>(as of 12/13/12)</span></div>
  <h1 id="future-cruises" class="table-header">Future cruises</h1>
  <%= render :partial => "cruise_table", :locals => {:cruises => @future_cruises, :future => true} %>
  <h1 id="completed-cruises" class="table-header">Completed cruises</h1>
  <%= render :partial => "cruise_table", :locals => {:cruises => @cruises, :future => false} %>
</div>
