<% content_for :css do %>
  <%= stylesheet_link_tag "links" %>
<% end %>
<h2>National Programs and Agencies</h2>
<ul class="link_list">
	<li>Global Carbon Cycle, NOAA Climate Program Office
		<p><a href="http://www.climate.noaa.gov/cpo_pa/gcc/">http://www.climate.noaa.gov/cpo_pa/gcc/</a></p>
	</li>
	<li>US Climate Variability and Predictability Research Program (CLIVAR)
		<p><a href="http://www.usclivar.org">http://www.usclivar.org</a></p>
	</li>
	<li>US Carbon Cycle Science Program
		<p><a href="http://www.carboncyclescience.gov">http://www.carboncyclescience.gov</a></p>
	</li>
	<li>US Joint Global Ocean Flux Study (JGOFS)
		<p><a href="http://www1.whoi.edu/">http://www1.whoi.edu/</a></p>
	</li>
</ul>


<h2>International Programs and Agencies</h2>
<ul class="link_list">
	<li><span class="link_name">The Global Ocean Ship-based Hydrographic Investigations Program</span> <span class="subgroup">international</span>
		<p><a href="http://go-ship.org">http://www.go-ship.org</a></p>
	</li>
	<li><span class="link_name">ARGO</span> <span class="subgroup">international</span>
		<p><a href="http://www.argo.ucsd.edu/">http://www.argo.ucsd.edu/</a></p>
	</li>
	<li><span class="link_name">Bedford Institute of Oceanography</span> <span class="subgroup">CANADA</span>
		<p><a href="http://www.bio.gc.ca/index-eng.php">http://www.bio.gc.ca/index-eng.php</a></p>
	</li>
	<li><span class="link_name">Diapycnal and Isopyncal Mixing Experiment in the Southern Ocean (DIMES)</span> <span class="subgroup">international</span>
		<p><a href="http://dimes.ucsd.edu/ ">http://dimes.ucsd.edu/ </a></p>
	</li>
	<li><span class="link_name">German Oceanographic Data Centre</span> <span class="subgroup">GERMANY</span>
		<p><a href="http://www.bsh.de/en/Marine_data/Observations/DOD_Data_Centre/index.jsp">http://www.bsh.de/en/Marine_data/Observations/DOD_Data_Centre/index.jsp</a></p>
	</li>
	<li><span class="link_name">Institut français de recherche pour l'exploitation de la mer (IFREMER)</span> <span class="subgroup">FRANCE</span>
		<p><a href="http://wwz.ifremer.fr/institut_eng/Marine-science/French-facilities/Data-Centres/Coriolis">http://wwz.ifremer.fr/institut_eng/Marine-science/French-facilities/Data-Centres/Coriolis</a></p>
	</li>
	<li><span class="link_name">International Ocean Carbon Coordination Project (IOCCP)</span> <span class="subgroup">international</span>
		<p><a href="http://www.ioccp.org/">http://www.ioccp.org/</a></p>
	</li>
	<li><span class="link_name">Japan Agency for Marine-Earth Science and Technology</span> <span class="subgroup">JAPAN</span>
		<p><a href="http://www.jamstec.go.jp/e/"> http://www.jamstec.go.jp/e/</a></p>
	</li>
	<li><span class="link_name">Japan Oceanographic Data Center</span> <span class="subgroup">JAPAN</span>
		<p><a href="http://www.jodc.go.jp/">http://www.jodc.go.jp/</a></p>
	</li>
	<li><span class="link_name">OceanSites</span> <span class="subgroup">international</span>
		<p><a href="http://www.whoi.edu/virtual/oceansites/">http://www.whoi.edu/virtual/oceansites/</a></p>
	</li>
	<li><span class="link_name">Southern Ocean Observing System (SOOS)</span> <span class="subgroup">international</span>
		<p><a href="http://www.scar.org/soos/">http://www.scar.org/soos/</a></p>
	</li>
</ul>

<h2>Data Centers</h2>
<ul class="link_list">
	<li>CLIVAR and Carbon Hydrographic Data Office (CCHDO/WHPO)
		<p><a href="http://cchdo.ucsd.edu/">http://cchdo.ucsd.edu/</a></p>
	</li>
	<li>Carbon Dioxide Information Analysis Center (CDIAC)
		<p><a href="http://cdiac.ornl.gov/oceans/">http://cdiac.ornl.gov/oceans/</a></p>
	</li>
	<li>National Oceanographic Data Center (NODC)
		<p><a href="http://www.nodc.noaa.gov/">http://www.nodc.noaa.gov/</a></p>
	</li>
	<li>World Ocean Circulation Experiment Global Data Resource (SADCP)
		<p><a href="http://woce.nodc.noaa.gov/wdiu/diu_summaries/sadcp/index.htm">http://woce.nodc.noaa.gov/wdiu/diu_summaries/sadcp/index.htm</a></p>
	</li>
	<li>Research Vessel Surface Meteorology Data Center 
		<p><a href="http://coaps.fsu.edu/RVSMDC/CLIVAR/">http://coaps.fsu.edu/RVSMDC/CLIVAR/</a></p>
	</li>
	<li><span class="link_name">Bermuda Atlantic Time-Series Study (BATS)</span> <span class="subgroup">time series</span>
		<p><a href="http://www.bios.edu/research/bats.html">http://www.bios.edu/research/bats.html</a></p>
	</li>
	<li><span class="link_name">Hawaiian Ocean Times-Series (HOT)</span> <span class="subgroup">time series</span>
		<p><a href="http://hahana.soest.hawaii.edu/hot/">http://hahana.soest.hawaii.edu/hot/</a></p>
	</li>
</ul>
