<% content_for :css do %>
  <%= stylesheet_link_tag "links" %>
<% end %>

<h2>International Programs and Agencies</h2>
<ul class="link_list">
	<li><span class="link_name"><a href="http://www.clivar.org/resources/data/clivar-carbon-and-hydrographic-sections">Climate Variability and Predictability (CLIVAR)</a>	</span><span class="subgroup">US/UK</span>
	</li>
	<li><a href="http://dimes.ucsd.edu/ ">CLIVAR Diapycnal and Isopycnal Mixing Experiment in the Southern Ocean (DIMES)</a>
	</li>
	<li><a href="http://go-ship.org">The Global Ocean Ship-based Hydrographic Investigations Program (GO-SHIP)</a>
	</li>
	<li><a href="http://www.ioccp.org/">International Ocean Carbon Coordination Project (IOCCP)</a>
	</li>
	<li><a href="http://www.carboocean.org/">Carboocean</a>
	</li>
	<li><a href="http://www.ioc-goos.org/">Global Ocean Observing System (GOOS)</a>
	</li>
	<li><a href="http://www.scar.org/soos/">Southern Ocean Observing System (SOOS)</a>
	</li>
	<li><a href="http://www.whoi.edu/virtual/oceansites/">OceanSites</a>
	</li>
	<li><a href="http://www.argo.net">Argo</a>
	</li>
</ul>

<h2>National Programs and Agencies</h2>
<ul class="link_list">
	<li><a href="http://www.usclivar.org">US Climate Variability and Predictability Research Program (CLIVAR)</a>
	</li>
	<li><a href="http://www.us-ocb.org/">U.S. Ocean Carbon & Biogeochemistry (OCB)</a>
	</li>
	<li><a href="http://www.carboncyclescience.gov">U.S. Carbon Cycle Science Program</a>
	</li>
	<li><a href="http://www.climate.noaa.gov/cpo_pa/gcc/">(U.S.) Global Carbon Cycle, NOAA Climate Program Office</a>
	</li>
	<li><a href="http://www.climate.noaa.gov/">(U.S.) Office of Global Planning</a>
	</li>
	<li><span class="link_name"><a href="http://www.cmar.csiro.au/">CSIRO Marine and Atmospheric Research</a></span> <span class="subgroup">australia</span>
	</li>
	<li><span class="link_name"><a href="http://www.bio.gc.ca/index-eng.php">Bedford Institute of Oceanography</a></span> <span class="subgroup">CANADA</span>
	</li>
	<li><span class="link_name"><a href="http://wwz.ifremer.fr/institut_eng/Marine-science/French-facilities/Data-Centres/Coriolis">Coriolis Centre for in situ Oceanographic Data</a></span> <span class="subgroup">FRANCE</span>
	</li>
	<li><span class="link_name"><a href="http://www.bsh.de/en/Marine_data/Observations/DOD_Data_Centre/index.jsp">German Oceanographic Data Centre</a></span> <span class="subgroup">GERMANY</span>
	</li>
	<li><span class="link_name"><a href="http://www.jodc.go.jp/">Japan Oceanographic Data Center</a></span> <span class="subgroup">JAPAN</span>
	</li>
	<li><span class="link_name"><a href="http://www.jamstec.go.jp/e/">Japan Agency for Marine-Earth Science and Technology</a></span> <span class="subgroup">JAPAN</span>
	</li>
	<li><span class="link_name"><a href="http://www.bodc.ac.uk">British Oceanographic Data Centre (BODC) </a></span> <span class="subgroup">UNITED KINGDOM</span>
	</li>
</ul>

<h2>Data Centers</h2>
<ul class="link_list">
	<li><a href="http://cchdo.ucsd.edu/">CLIVAR and Carbon Hydrographic Data Office (CCHDO/WHPO)</a>
	</li>
	<li><a href="http://cdiac.ornl.gov/oceans/">Carbon Dioxide Information Analysis Center (CDIAC)</a>
	</li>
	<li><a href="http://www.nodc.noaa.gov">National Oceanic Data Center (NODC)</a>
	</li>
	<li><a href="http://bcodmo.org/data">Biological and Chemical Oceanography Data Management Office (BCO-DMO)</a> 
	</li>
	<li><a href="http://currents.soest.hawaii.edu/">Acoustic Doppler Current Profiler - Shipboard and Lowered)</a> 
	</li>
	<li><a href="http://coaps.fsu.edu/RVSMDC/CLIVAR/">Research Vessel Surface Meteorology Data Center </a> 
	</li>
	<li><span class="link_name"><a href="http://www.bios.edu/research/bats.html">Bermuda Atlantic Time-Series Study (BATS)</a></span> <span class="subgroup">time series</span>
	</li>
	<li><span class="link_name"><a href="http://hahana.soest.hawaii.edu/hot/">Hawaiian Ocean Times-Series (HOT)</a></span> <span class="subgroup">time series</span>
	</li>
</ul>

<h2>Historical Programs With Archived Data Resources</h2>
<ul class="link_list">
	<li><a href="http://woce.nodc.noaa.gov">World Ocean Circulation Experiment (WOCE) (1990-2002)</a>
	</li>
	<li><a href="http://ijgofs.whoi.edu/">Joint Global Ocean Flux Study (JGOFS) (1987-2003)</a>
	</li>
</ul>
