<div id="outreach_page_title" style="margin-top: 20px;">Links</div>
<div id="outreach_header_title">International Repeat Hydrography Planning</div>
<div id="dotted_bar"></div>

	<ul>
		<li><a href="http://www.clivar.org/carbon_hydro">CLIVAR/Carbon Hydrographic Sections</a></li>
	</ul>	

	<div id="outreach_header_title">Science and Implementation Plans</div>
	<div id="dotted_bar"></div>
	<ul>
		<li><a href="http://www.carboncyclescience.gov/">US Carbon Cycle Science</a></li>
			<ul>
				<li><a href="http://www.carboncyclescience.gov/default.php">Planning</a></li>
			</ul>
		<li><a href="http://www.climate.noaa.gov/cpo_pa/gcc/">Large Scale Carbon Observation Program, Ocean and Atmospheres</a></li>
		<li><a href="http://www.usclivar.org/">US CLIVAR</a></li>
			<ul>
				<li><a href="http://www.usclivar.org/sites/default/files/US_CLIVAR_IP-1.pdf">Implementation Plan</a></li>
				<li>Detailed Plans by Region:</li>
					<ul>
						<li><a href="http://www.usclivar.org/sites/default/files/PanAm_Plan_2002.pdf">Pan American Region</a></li>
						<li><a href="http://www.usclivar.org/sites/default/files/ATLANTIC_IMPL_DEC00.pdf">Atlantic Region</a></li>
						<li><a href="http://www.usclivar.org/sites/default/files/Pacific_Impl.pdf">Pacific Region</a></li>
					</ul>	
			</ul>	
	</ul>	
	<!--	
		<div id="outreach_header_title">Agency Plans/Reports</div>
		<div id="dotted_bar"></div>

	<ul>
		<li><a href="http://www.climate.noaa.gov/index.jsp?pg=./cpo_pa/cpo_pa_index.jsp&pa=gcc&sub=1">NOAA-OGP</a></li>
		<li><a href="http://www.climate.noaa.gov/index.jsp?pg=./cpo_pa/cpo_pa_index.jsp&pa=gcc&sub=1">NOAA Ocean Carbon Dioxide and Tracer Program</a></li>
	</ul>
	-->	
		<div id="outreach_header_title">Other Sites</div>
		<div id="dotted_bar"></div>

	<ul>
		<li><a href="http://usjgofs.whoi.edu/">US Joint Global Ocean Flux Study (JGOFS)</a></li>
		<li><a href="http://cchdo.ucsd.edu/">CLIVAR and Carbon Hydrographic Data Office (CCHDO/WHPO)</a></li>
                <li><a href="http://cdiac.ornl.gov/">Carbon Dioxide Information Analysis Center (CDIAC)</a></li>
                <li><a href="http://bcodmo.org/">Biological and Chemical Oceanography Data Management Office (BCO-DMO)</a></li>
                <li><a href="http://www.argo.ucsd.edu/">Argo</a></li>
	</ul>
