<div class="outreach_main_content">
<div id="outreach_header_title">Album</div>
<div id="dotted_bar"></div>

<p>Click on any of the thumbnails to open a picture and view slideshow</p>

<br />
<h1>Trace Minerals from I8S 2007</h1>

<div class="boxed">

<p id="photo_group_title">Sampling Trace Metals I8S (February/March 2007)</p>

<!--THIS FIRST IMAGE WILL SHOW IN THE LIGHTBOX--> <a href="/images/tm1.png" title="The deck leader watches as members of the deck crew carefully guide the CTD/rosette into the water. In order to deploy the CDT/rosette, the ship stops at a specific, predetermined station, and members of the scientific party take turns assisting in the deployment. The unseen, the winch operator guides the mechanical ìarmî that lifts the CTD/rosette into and out of the water." rel="lightbox[trace_metals]"><!--EDIT THE REL TAG BETWEEN THE SQUARE BRACKETS TO GROUP SPECIFIC PHOTOS TOGETHER INTO ONE ALBUM--><!--THIS SECOND IMAGE WILL BE THE THUMBNAIL--><img src='/images/tm1_tb.png' align='middle' alt='target' /></a>

<!--THIS FIRST IMAGE WILL SHOW IN THE LIGHTBOX--> <a href="/images/tm2.png" title="The CTD/rosette is gently lowered into the water. Once it is safely in the water, the crew holding onto the ìtagî lines release them so that the instrument can descend into the depths." rel="lightbox[trace_metals]"><!--EDIT THE REL TAG BETWEEN THE SQUARE BRACKETS TO GROUP SPECIFIC PHOTOS TOGETHER INTO ONE ALBUM--><!--THIS SECOND IMAGE WILL BE THE THUMBNAIL--><img src='/images/tm2_tb.png' align='middle' alt='target' /></a>

<!--THIS FIRST IMAGE WILL SHOW IN THE LIGHTBOX--> <a href="/images/tm3.png" title="Once the CTD/rosette is back on board, the eager scientists and lab technicians await their turn to sample. Samples must be taken carefully to insure that no contaminants are present, and some samples are more vulnerable to contamination than others. Above, a sampler wears gloves to preserve the integrity of the sample." rel="lightbox[trace_metals]"><!--EDIT THE REL TAG BETWEEN THE SQUARE BRACKETS TO GROUP SPECIFIC PHOTOS TOGETHER INTO ONE ALBUM--><!--THIS SECOND IMAGE WILL BE THE THUMBNAIL--><img src='/images/tm3_tb.png' align='middle' alt='target' /></a>

<!--THIS FIRST IMAGE WILL SHOW IN THE LIGHTBOX--> <a href="/images/tm4.png" title="The sample cop is responsible for monitoring samplers. They have another important task, however. They record which samples are taken from each bottle on the CTD/rosette, and sometimes record other imformation, such as the temperature of the sample when it is taken and the exact time it was extracted. This duty is a very important part of sampling, because the details must be carefully recorded for scientific purposes." rel="lightbox[trace_metals]"><!--EDIT THE REL TAG BETWEEN THE SQUARE BRACKETS TO GROUP SPECIFIC PHOTOS TOGETHER INTO ONE ALBUM--><!--THIS SECOND IMAGE WILL BE THE THUMBNAIL--><img src='/images/tm4_tb.png' align='middle' alt='target' /></a>



</div>
</div>