<div class="outreach_main_content">
	<div id="outreach_page_title" style="margin-top: 20px;">Photo Album</div>
	
	<h2>Animal Sightings</h2>
	
	<div id="outreach_header_title">Bears</div>
	<div id="dotted_bar"></div>
	
	<table class="gallery_row">
		<tr><td>
				
			<!--THIS FIRST IMAGE WILL SHOW IN THE LIGHTBOX--> <a href="/images/albums/tosee_animals/pbears_buoytug.jpg" title="A polar bear plays with buoys." rel="lightbox[animal_sightings]"><!--EDIT THE REL TAG BETWEEN THE SQUARE BRACKETS TO GROUP SPECIFIC PHOTOS TOGETHER INTO ONE ALBUM--><!--THIS SECOND IMAGE WILL BE THE THUMBNAIL--><img src='/images/albums/tosee_animals/pbears_buoytug_med.jpg' align='middle' alt='target' /></a>
			
			<!--THIS FIRST IMAGE WILL SHOW IN THE LIGHTBOX--> <a href="/images/albums/tosee_animals/polarbearstanding.jpg" title="A polar bear." rel="lightbox[animal_sightings]"><!--EDIT THE REL TAG BETWEEN THE SQUARE BRACKETS TO GROUP SPECIFIC PHOTOS TOGETHER INTO ONE ALBUM--><!--THIS SECOND IMAGE WILL BE THE THUMBNAIL--><img src='/images/albums/tosee_animals/polarbearstanding_med.jpg' align='middle' alt='target' /></a>

		</td></tr>
	</table>
	
	<div id="outreach_header_title">Sea Mammals</div>
	<div id="dotted_bar"></div>
	
	<table class="gallery_row">
		<tr><td>
			
				<!--THIS FIRST IMAGE WILL SHOW IN THE LIGHTBOX--> <a href="/images/albums/tosee_animals/walrus.jpg" title="This polar bear is super cute.  He probably deserves a better caption than this." rel="lightbox[animal_sightings]"><!--EDIT THE REL TAG BETWEEN THE SQUARE BRACKETS TO GROUP SPECIFIC PHOTOS TOGETHER INTO ONE ALBUM--><!--THIS SECOND IMAGE WILL BE THE THUMBNAIL--><img src='/images/albums/tosee_animals/walrus_med.jpg' align='middle' alt='target' /></a>

		</td></tr>
	</table>
	
	<div id="outreach_header_title">Sea Life</div>
	<div id="dotted_bar"></div>
	
	<div id="outreach_header_title">Birds and Other Flying Things</div>
	<div id="dotted_bar"></div>
	
	<div id="outreach_header_title">Tiny Creatures</div>
	<div id="dotted_bar"></div>
	
	
		

</div>