<div class="outreach_main_content">
	<div id="content_page">
	<div id="outreach_page_title" style="margin-top: 20px;">Experiences</div>
	<div id="outreach_header_title">Polar Swim</div>
	<div id="dotted_bar"></div>
	
	<!--THIS FIRST IMAGE WILL SHOW IN THE LIGHTBOX--> <a href="/images/day_life_jimswift/basoon.jpg" title="Jim getting in some scales" rel="lightbox[trace_metals]"><!--EDIT THE REL TAG BETWEEN THE SQUARE BRACKETS TO GROUP SPECIFIC PHOTOS TOGETHER INTO ONE ALBUM--><!--THIS SECOND IMAGE WILL BE THE THUMBNAIL--><img src="/images/day_life_jimswift/basoon.jpg" width="250px" /></a><br /><br />
	
	<div id="blog_description">
		Polar Swim<br />
		Cruise:<br />
	</div>
	
	<div id="blog_date">BIO</div>
	<p>OMG its so freezing</p>
	
	<div id="blog_date">Entry date: 5-2-09</div>
		<p>stuff</p><br /><br />
	
	
	
		<div>
			<div id="dotted_bar"></div>

			<!--THIS FIRST IMAGE WILL SHOW IN THE LIGHTBOX--> <a href="/images/day_life_jimswift/console.jpg" title="Jim getting in some scales" rel="lightbox[trace_metals]"><!--EDIT THE REL TAG BETWEEN THE SQUARE BRACKETS TO GROUP SPECIFIC PHOTOS TOGETHER INTO ONE ALBUM--><!--THIS SECOND IMAGE WILL BE THE THUMBNAIL--><img src="/images/day_life_jimswift/console.jpg" width="250px" /></a>
			
		

		</div>
	<div id="outreach_header_title">Link to blogs about the crossing ceremony</div>
	<div id="dotted_bar"></div>
		<ul style id="no_list_style">
			<li><%= link_to_remote("XYZ, Technician",  :update => 'content_page', :url => { :controller=> 'day_in_life', :action=>'i8s_2009_tech'}) %></li>

		</ul>	
		
	<div id="outreach_header_title">Links to outside resources and information about the crossing ceremony</div>
	<div id="dotted_bar"></div>
		<ul style id="no_list_style">
			<li><%= link_to_remote("XYZ, Technician",  :update => 'content_page', :url => { :controller=> 'day_in_life', :action=>'i8s_2009_tech'}) %></li>

		</ul>
		
</div>
</div>