<div class="outreach_main_content">
	<div id="outreach_page_title" style="margin-top: 20px;">Experiences</div>
	<div id="outreach_header_title">Exercise</div>
	<div id="dotted_bar"></div>
	
	<p>Exercise is an important balance to the long work days required on a multi-week cruise. Cruise members have enjoyed doing yoga and ping pong to relax before or after a work day. On the R/V  Revelle there are a number of rooms for individuals to exercise.</p> 
	<p>Below are images to two of the exercise rooms:</p>
	
	<div class="gallery">
	<ul class="twocol clear">
		<li><!--THIS FIRST IMAGE WILL SHOW IN THE LIGHTBOX--> <a href="/images/experiences/exercise/exercise_room1.png" title="Exercise room 1." rel="lightbox[exercise]"><!--EDIT THE REL TAG BETWEEN THE SQUARE BRACKETS TO GROUP SPECIFIC PHOTOS TOGETHER INTO ONE ALBUM--><!--THIS SECOND IMAGE WILL BE THE THUMBNAIL--><img src="/images/experiences/exercise/exercise_room1_tb.png" /></a></li>
		<li><!--THIS FIRST IMAGE WILL SHOW IN THE LIGHTBOX--> <a href="/images/experiences/exercise/exercise_room2.png" title="Exercise room 2" rel="lightbox[exercise]"><!--EDIT THE REL TAG BETWEEN THE SQUARE BRACKETS TO GROUP SPECIFIC PHOTOS TOGETHER INTO ONE ALBUM--><!--THIS SECOND IMAGE WILL BE THE THUMBNAIL--><img src="/images/experiences/exercise/exercise_room2_tb.png" /></a></li>
	</ul>
	</div>
	
	<p id="exercise_title">Ping Pong</p>
	<p>Forrest Gump isn't the only ping pong champion. <!--THIS FIRST IMAGE WILL SHOW IN THE LIGHTBOX--> <a href="/images/gallery/exercise/pingpong1.jpg" title="Exercise room 2" rel="lightbox[exercise]"><!--EDIT THE REL TAG BETWEEN THE SQUARE BRACKETS TO GROUP SPECIFIC PHOTOS TOGETHER INTO ONE ALBUM--><!--THIS SECOND IMAGE WILL BE THE THUMBNAIL--><img src="/images/gallery/exercise/pingpong_icon.jpg" /></a>We have some of our own home grown ping ping champs right here at Scripps Institution of Oceanography! Ping pong is a great way to get exercise and work out some stress from the day. It is also a good excuse to catch up with friends on the ship. Justin Fields, a computer tech on the I5S (2008) Revelle cruise describes his appreciation for ping pong, "After a 12 hours shift, a couple games of ping pong with my buddies helps to take the ease off the work day." All and all one game of the sport can help rejuvenate crew members energy level, in preparation for a new day.</p>
	<p><span style="text-decoration: underline;">Insider information</span>: Ping-pong championships have been known to occur at sea.</p>
	
	<p id="exercise_title">Yoga</p>
	<p>To relax one's body and mind, many cruise members will do yoga. Yoga helps counter the busy work day through various calming stretches and poses. </p>
	
	<p id="exercise_title">Video</p>
	<p>Watch a short video showing exercise at sea on the Virtual Cruise page.  <a href="/virtual_cruise/video_pages/Life_at_Sea/Exercise_at_Sea.html"> Watch Video</p>
	
	<!--BACK BUTTON: make sure the link is right/works! :)-->
	<p id="back_link"><a href="/outreach_experiences">&lt; Back</a></p>
		
</div>
