<div class="outreach_main_content">
	<div id="outreach_page_title" style="margin-top: 20px;">Photo Gallery Archive</div>
	<div id="outreach_header_title">Chow Time</div>
	<div class="gallery">
		<ul class="twocol clear">
			<li><!--THIS FIRST IMAGE WILL SHOW IN THE LIGHTBOX--> <a href="/images/gallery/chow_time/bbq1.jpg" title="Barbequing burgers on deck." rel="lightbox[chow_time]"><!--EDIT THE REL TAG BETWEEN THE SQUARE BRACKETS TO GROUP SPECIFIC PHOTOS TOGETHER INTO ONE ALBUM--><!--THIS SECOND IMAGE WILL BE THE THUMBNAIL--><img src="/images/gallery/chow_time/bbq1_tb.jpg" /></a></li>
			<li><!--THIS FIRST IMAGE WILL SHOW IN THE LIGHTBOX--> <a href="/images/gallery/chow_time/bbq2.jpg" title="Barbequing burgers on deck." rel="lightbox[chow_time]"><!--EDIT THE REL TAG BETWEEN THE SQUARE BRACKETS TO GROUP SPECIFIC PHOTOS TOGETHER INTO ONE ALBUM--><!--THIS SECOND IMAGE WILL BE THE THUMBNAIL--><img src="/images/gallery/chow_time/bbq2_tb.jpg" /></a></li>
			<li><!--THIS FIRST IMAGE WILL SHOW IN THE LIGHTBOX--> <a href="/images/gallery/chow_time/chow1.jpg" title="A typically onboard meal." rel="lightbox[chow_time]"><!--EDIT THE REL TAG BETWEEN THE SQUARE BRACKETS TO GROUP SPECIFIC PHOTOS TOGETHER INTO ONE ALBUM--><!--THIS SECOND IMAGE WILL BE THE THUMBNAIL--><img src="/images/gallery/chow_time/chow1_tb.jpg" /></a></li>
		</ul>
	</div>	
	<p id="back_gallery"><a href="/gallery_lifestyle.html">&lt; Back</a></p>
</div>