<div class="outreach_main_content">
	<div id="content_page">
	<div id="outreach_page_title" style="margin-top: 20px;">A Day in the Life</div>
	<div id="outreach_header_title">Chief Scientist (I8S 2009)</div>
	<div id="dotted_bar"></div>
	
	<!--THIS FIRST IMAGE WILL SHOW IN THE LIGHTBOX--> <a href="/images/day_life_jimswift/basoon.jpg" title="Jim getting in some scales" rel="lightbox[trace_metals]"><!--EDIT THE REL TAG BETWEEN THE SQUARE BRACKETS TO GROUP SPECIFIC PHOTOS TOGETHER INTO ONE ALBUM--><!--THIS SECOND IMAGE WILL BE THE THUMBNAIL--><img src="/images/day_life_jimswift/basoon_icon.jpg"/></a><br /><br />


           <!-- Hey look, a 'biostats' table.  Since all the hard work is done in CSS, there's no need to classify anything but the 'table' element. The subsequent (X)HTML code is then nice-n-clean. -->
          <table class="biostats" style="margin-left:-10px;margin-top:-15px;">
           	<tr>
           		<td>Chief Scientist:</td>
           		<td>Dr. James H. Swift</td>
           	</tr>
           	<tr>
           		<td>Title:</td>
           		<td>Principal Investigator </td>
           	</tr>
           	<tr>
           		<td>Cruise:</td>
           		<td>I8S 2009</td>
           	</tr>
           	<tr>
           		<td>Hometown:</td>
           		<td>Ohio</td>
           	</tr>
           	<tr>
           		<td>Bio:</td>
           		<td>Read all about Dr. Swift on his Scripps Institution of Oceanography profile page <a href="http://www.sio.ucsd.edu/Profile/?who=jswift">(Jim's profile at SIO)</a></td>
           	</tr>
		   	<tr>
				<td>Entry date:</td>
				<td>5-2-09</td>
			<tr>	
          </table>
    
	
		  <div id="blog_date">Dr. Jim Swift on I5</div>
		  <p>Dr. Swift's reports from I5, running from Durban, South Africa to Perth, Australia along 32° S.</p><br />

			</p><a href="http://shipsked.ucsd.edu/Journal/RR0903-SwiftI5/">I5 Reports</a></p>

			<div id="blog_date">Previous Notes from the Field</div>
			<p>Scripps physical oceanographer Jim Swift writes in from 64° South.  On Feb. 12, 2007, Scripps oceanographer and La Jolla Symphony second bassoonist Jim Swift wrote this letter offering a glimpse into the spectacular and commonplace occurrences that make up the life of a Scripps researcher at sea. Swift is the chief scientist aboard R/V Roger Revelle's current expedition to the Antarctic.</p>

			<p><a href="http://explorations.ucsd.edu/Around_the_Pier/2007/Mar/swift/ ">Jim Swift on Explorations</a></p>


			<div id="blog_date">Career Highlights</div>
			<p>Jim Swift headed the first oceanographic cruise to the Arctic in 2003.</p><br />
			<a href="http://scrippsnews.ucsd.edu/Releases/?releaseID=578"> Scripps News</a>

			<p>Scripps scientists participate in historic first surface vessel voyage across Canada Basin.</p><br />
			<a href="http://www.scienceblog.com/community/older/2005/12/200511384.shtml"> Science Blog </a>

			<div id="blog_date">Dr. Swift's Music</div>
			<p>Jim also finds the time to play the bassoon with the La Jolla Symphony in his very sparse free time.  Read about the group at 
			<a href="http://www.signonsandiego.com/uniontrib/20081026/news_1a26lajolla.html"> Sign-On San Diego </a></p>

				<div>
					<div id="dotted_bar"></div>



			<!--THIS FIRST IMAGE WILL SHOW IN THE LIGHTBOX--> <a href="/images/day_life_jimswift/console.jpg" title="Jim getting in some scales" rel="lightbox[trace_metals]"><!--EDIT THE REL TAG BETWEEN THE SQUARE BRACKETS TO GROUP SPECIFIC PHOTOS TOGETHER INTO ONE ALBUM--><!--THIS SECOND IMAGE WILL BE THE THUMBNAIL--><img src="/images/day_life_jimswift/console_tb.jpg"/></a>
			
			<!--THIS FIRST IMAGE WILL SHOW IN THE LIGHTBOX--> <a href="/images/day_life_jimswift/work_heads_back.jpg" title="Jim getting in some scales" rel="lightbox[trace_metals]"><!--EDIT THE REL TAG BETWEEN THE SQUARE BRACKETS TO GROUP SPECIFIC PHOTOS TOGETHER INTO ONE ALBUM--><!--THIS SECOND IMAGE WILL BE THE THUMBNAIL--><img src="/images/day_life_jimswift/work_heads_back_tb.jpg"/></a>
			
		
		




		</div>
<p id="back_link"><a href="/day_in_life">&lt; Back</a></p>
		
</div>
</div>