<div class="outreach_main_content">
	<div id="content_page">
	<div id="outreach_page_title" style="margin-top: 20px;">A Day in the Life</div>
	<div id="outreach_header_title">Graduate Student (I8S 2007)</div>
	<div id="dotted_bar"></div>
	
	<!--THIS FIRST IMAGE WILL SHOW IN THE LIGHTBOX--> <a href="/images/day_life_2007/i8s/ullman.jpg" title="Jim getting in some scales" rel="lightbox[trace_metals]"><!--EDIT THE REL TAG BETWEEN THE SQUARE BRACKETS TO GROUP SPECIFIC PHOTOS TOGETHER INTO ONE ALBUM--><!--THIS SECOND IMAGE WILL BE THE THUMBNAIL--><img src="/images/day_life_2007/i8s/ullman_s.jpg"/></a><br /><br />


           <!-- Hey look, a 'biostats' table.  Since all the hard work is done in CSS, there's no need to classify anything but the 'table' element. The subsequent (X)HTML code is then nice-n-clean. -->
          <table class="biostats" style="margin-left:-10px;margin-top:-15px;">
           	<tr>
           		<td style="width:150px;">Graduate Student:</td>
           		<td>David Ullman</td>
           	</tr>
           	<tr>
           		<td>University:</td>
           		<td>U of Wisconsin</td>
           	</tr>
           	<tr>
           		<td>Cruise:</td>
           		<td>I8S 2007</td>
           	</tr>
		   	<tr>
				<td>Entry date:</td>
				<td>5-18-09</td>
			<tr>	
          </table>
    
	


	<p style="clear:both; padding-top:10px;">I had a wonderful experience on the I8S Repeat Hydrography Cruise.  Departing from Dunedin, NZ, we steamed through the roaring 40s and furious 50s to our first station as close to Antarctica as ice would permit.  From here, we traversed northward through the southern Indian Ocean, collecting water samples along the way. </p>

	<p> My duties included preparation, deployment, monitoring, and recovery of the primary sampling rosette.  I also assisted in sampling from the bottles and allocating water rights and amounts to each of the researchers as the "Sample Cop".  I served these duties on a 12-hour watch, and when I wasn't working, I was happily enjoying the sights (icebergs, birds, whales, sunsets) and stuffing myself with the 4-star food prepared by our chefs.</p> 

	<div>
		




		</div>
<p id="back_link"><a href="/day_in_life">&lt; Back</a></p>
		
</div>
</div>