<div class="outreach_main_content">
	<div id="content_page">
	<div id="outreach_page_title" style="margin-top: 20px;">I8S Outreach Team</div>
	<div id="outreach_header_title">A synopsis of the Outreach Program on I8S</div>
	<div id="dotted_bar"></div>
	
		<p>The paths to public outreach are as numerous and varied as the reasons for outreach.  The Outreach team for CLIVAR I8S, a cruise of the Climate Variability/CO2 repeat hydrography program, was assembled via an unsolicited proposal written by Pien Huang (writer), Cassandra Lopez (writer), and Daniel Park (videographer), based on their personal career interests in science communication.</p>  
		<p>The initial proposal focused on generating educational materials for an audience at and above the high school level.  After some trial and error in the field, they found their niche in informing and entertaining a general public audience, in trying to link a relatively esoteric line of research to people's everyday lives.  This departure from the more established "teacher-at-sea" outreach programs was an attempt to bring oceanography to a different audience; the Outreach team aimed to produce materials that were accurate and informative, yet broad enough to fall under the category of "general interest."</p>  
		<p>In terms of function, this effort can be viewed as a hybrid of existing NSF outreach programs, such as the Antarctic Artists and Writers Program and the Teacher-at-Sea programs; the team was given creative freedom to interpret their ship experience, in the name of informing the public about the scientific process.</p>
		<p>Links to content that the I8S Outreach Team has authored:</p>
		<ul>
			<li><a href="/video_vault#i8s_podcast">I8S podcast</a></li>
			<li><a href="/ctd_rosettes">CTD &amp; Rosettes</a></li>
			<li><a href="/trace_elements">Trace metals</a></li>
		</ul>	
	
    <p id="back_link"><a href="/outreach">&lt; Back</a></p>	
	</div>
</div>	