<head> 
  <link href="stylesheets/s4pmain.css" media="screen" rel="stylesheet" type="text/css" /> 
</head> 
<div class="outreach_main_content"> 
 
<div id="outreach_page_title" style="margin-top: 20px;">S04P Weekly Reports from Sea</div> 
 
<p>Throughout the cruise, the chief scientist sends reports back regarding the progress and events during the cruise.
Dr. James Swift also sends personal correspondence about how he is faring.</p> 
 
<p>&nbsp;</p> 
 
<div id="s4p_report_nav"> 
		<h3>Weekly Reports</h3> 
		<div id="dotted_bar"></div> 
		<div class="rounded"> 
		<ul> 
			<li><a href="/reports/weekly_reports/S4P_Weekly_Report_24_Feb_2011.html" target="report">The Week of February 24th, 2011</a></li> 
		</ul> 
		</div> 
		<h3>Letters From Jim</h3> 
		<div id="dotted_bar"></div> 
		<div class="rounded"> 
		<ul> 
			<li><a href="/reports/letters_from_Jim_Swift/17_February_2011.html" target="report">February 17th, 2011</a></li> 
			<li><a href="/reports/letters_from_Jim_Swift/19_February_2011.html" target="report">February 19th, 2011</a></li> 
			<li><a href="/reports/letters_from_Jim_Swift/24_February_2011.html" target="report">February 24th, 2011</a></li> 
		</ul> 
		</div> 
</div> 
<div> 
	<iframe name="report" src="/reports/weekly_reports_introduction.html" width="500px" height="520px" scrolling="auto">iframes needed</iframe> 
</div> 
</div> 
