<div class="outreach_main_content">
	<div id="outreach_page_title" style="margin-top: 20px;">Photo Gallery Archive</div>
	<div id="outreach_header_title">Net Sampling</div>
	<div class="gallery">
		<ul class="twocol clear">
			<li><!--THIS FIRST IMAGE WILL SHOW IN THE LIGHTBOX--> <a href="/images/gallery/nets_in_water/nets1.jpg" title="Nets being used to sample the water's composition." rel="lightbox[net_sampling]"><!--EDIT THE REL TAG BETWEEN THE SQUARE BRACKETS TO GROUP SPECIFIC PHOTOS TOGETHER INTO ONE ALBUM--><!--THIS SECOND IMAGE WILL BE THE THUMBNAIL--><img src="/images/gallery/nets_in_water/nets1_tb.jpg" /></a></li>
			<li><!--THIS FIRST IMAGE WILL SHOW IN THE LIGHTBOX--> <a href="/images/gallery/nets_in_water/nets2.jpg" title="" rel="lightbox[net_sampling]"><!--EDIT THE REL TAG BETWEEN THE SQUARE BRACKETS TO GROUP SPECIFIC PHOTOS TOGETHER INTO ONE ALBUM--><!--THIS SECOND IMAGE WILL BE THE THUMBNAIL--><img src="/images/gallery/nets_in_water/nets2_tb.jpg" /></a></li>
		</ul>
	</div>	
	<p id="back_gallery"><a href="/gallery_working.html">Back</a></p>
</div>