<div class="outreach_main_content">
	<div id="outreach_page_title" style="margin-top: 20px;">Photo Gallery Archive</div>
	<div id="outreach_header_title">Pre-Cruise Preparation</div>
	<div class="gallery">
		<ul class="twocol clear">
			<li><!--THIS FIRST IMAGE WILL SHOW IN THE LIGHTBOX--> <a href="/images/gallery/pre_cruise/precruise_prep1.jpg" title="Loading the ship with equipment and supplies." rel="lightbox[precruise_prep]"><!--EDIT THE REL TAG BETWEEN THE SQUARE BRACKETS TO GROUP SPECIFIC PHOTOS TOGETHER INTO ONE ALBUM--><!--THIS SECOND IMAGE WILL BE THE THUMBNAIL--><img src="/images/gallery/pre_cruise/precruise_prep1_tb.jpg" /></a></li>
			<li><!--THIS FIRST IMAGE WILL SHOW IN THE LIGHTBOX--> <a href="/images/gallery/pre_cruise/precruise_prep2.jpg" title="Supervising the precruise preparations." rel="lightbox[precruise_prep]"><!--EDIT THE REL TAG BETWEEN THE SQUARE BRACKETS TO GROUP SPECIFIC PHOTOS TOGETHER INTO ONE ALBUM--><!--THIS SECOND IMAGE WILL BE THE THUMBNAIL--><img src="/images/gallery/pre_cruise/precruise_prep2_tb.jpg" /></a></li>
			<li><!--THIS FIRST IMAGE WILL SHOW IN THE LIGHTBOX--> <a href="/images/gallery/pre_cruise/precruise_prep3.jpg" title="" rel="lightbox[precruise_prep]"><!--EDIT THE REL TAG BETWEEN THE SQUARE BRACKETS TO GROUP SPECIFIC PHOTOS TOGETHER INTO ONE ALBUM--><!--THIS SECOND IMAGE WILL BE THE THUMBNAIL--><img src="/images/gallery/pre_cruise/precruise_prep3_tb.jpg" /></a></li>
		</ul>
	</div>
	<p id="back_gallery"><a href="/gallery_working.html">Back</a></p>	
</div>