<div class="outreach_main_content">
	<div id="outreach_page_title" style="margin-top: 20px;">Photo Gallery Archive</div>
	<div id="outreach_header_title">Working Out At Sea</div>
	
	<div class="gallery">
		<ul class="twocol clear">
			<li><a href="/gallery_precruise_preparation.html"><img src="/images/gallery/icons/precruise_preparation_icon.png"></a></li>
			<li><a href="/gallery_inthelab.html"><img src="/images/gallery/icons/inthelab_icon.png"></a></li>
			<li><a href="/gallery_water_sampling.html"><img src="/images/gallery/icons/water_sampling_icon.png"></a></li>
			<li><a href="/gallery_net_sampling.html"><img src="/images/gallery/icons/net_sampling_icon.png"></a></li>
			<li><a href="/gallery_ctd_rosettes.html"><img src="/images/gallery/icons/ctd_rosettes_icon.png"></a></li>
			<li><a href="/gallery_argo.html"><img src="/images/gallery/icons/Argo_icon.png"></a></li>
			<li><a href="/gallery_on_deck.html"><img src="/images/gallery/icons/on_deck_icon.png"></a></li>
			<li><a href="/gallery_biooptics_gear.html"><img src="/images/gallery/icons/biooptics_gear_icon.png"></a></li>
		</ul>
	</div>
	<p id="back_gallery"><a href="/photo_gallery">Back</a></p>	
</div>
