<div id="outreach_page_title" style="margin-top: 20px;">Cruise Data Sets</div>
<div id="outreach_header_title">Table of cruise data sets</div>
<div id="dotted_bar"></div>



<body>
  <table id="box-table-a" summary="Links to cruise data sets"> 
		<thead>
		<tr>  
    		<th align="center" colspan="14">Links to Cruise Data  Sets</hd>
		</tr> 
		<tr>  
			<th scope="col">Cruise</th>  
			<th scope="col">Dates</th>  
			<th scope="col">Expocode</th>  
			<th scope="col">Ship</th>   
			<th scope="col">Number of Stations</th>  
			<th scope="col" class="wider">Cruise report, Station map, CTD and Bottle data</th>  
			<th scope="col">Underway Navigation, Bathymetry, Seawater, pCO2 data</th>  
			<th scope="col">Underway ADCP data</th>  
			<th scope="col">Lowered ADCP data</th>  
			<th scope="col">Underway Met. data</th> 	
		</tr>
		</thead> 
		<tr>  
      	<td>A16N</td>  
	      <td>6/19/03 - <br />8/11/03</td>  
	      <td>33RO200306_01</td>  
	      <td><a href="http://www.moc.noaa.gov/rb/">Brown</a></td>  
	      <td>150</td>  
	      <td class="wider"><a href="http://cchdo.ucsd.edu/data_access?ExpoCode=33RO200306_01">CCHDO</a></td>  
	      <td><a href="http://www.aoml.noaa.gov/ocd/gcc/rvbrown_data2003.php">NOAA / AOML</a></td>  
	      <td><a href="http://currents.soest.hawaii.edu/clivar_co2/year2003.html">U. Hawaii</a></td>  
	      <td><a href="http://currents.soest.hawaii.edu/clivar/ladcp/A16N">U. Hawaii</a></td>  
	      <td><a href="http://www.coaps.fsu.edu/RVSMDC/CLIVAR/html/data.shtml">FSU Met. DAC</a></td> 
		</tr>
		<tr>  
      	<td>A20</td>  
	      <td>9/22/03 - <br />10/20/03</td>  
	      <td>316N200309</td>  
	      <td><a href="http://www.whoi.edu/marops/research_vessels/knorr/index.html">Knorr</a></td>  
	      <td>88</td>  
          <td class="wider"><a href="http://cchdo.ucsd.edu/data_access?ExpoCode=316N200309">CCHDO</a></td> 
	      <td>USHYDRO</td>  
	      <td><a href="http://currents.soest.hawaii.edu/clivar_co2/year2003.html">U. Hawaii</a></td>  
	      <td><a href="http://currents.soest.hawaii.edu/clivar/ladcp/A20">U. Hawaii</a></td>  
	      <td><a href="http://www.coaps.fsu.edu/RVSMDC/CLIVAR/html/data.shtml">FSU Met. DAC</a></td>
		</tr> 
		<tr>  
      	<td>A22</td>  
	      <td>10/23/03 - <br />11/13/03</td>  
	      <td>316N200310</td>  
	      <td><a href="http://www.whoi.edu/marops/research_vessels/knorr/index.html">Knorr</td>  
	      <td>82</td>  
	      <td class="wider"><a href="http://cchdo.ucsd.edu/data_access?ExpoCode=316N200310">CCHDO</a></td>  
	      <td>USHYDRO</td>  
	      <td><a href="http://currents.soest.hawaii.edu/clivar_co2/year2003.html">U. Hawaii</a></td>  
	      <td><a href="http://currents.soest.hawaii.edu/clivar/ladcp/A22">U. Hawaii</a></td>  
	      <td><a href="http://www.coaps.fsu.edu/RVSMDC/CLIVAR/html/data.shtml">FSU Met. DAC</a></td> 
		</tr> 
		<tr>  
      	<td>P2</td>  
	      <td>6/15/04 - <br />8/27/04</td>  
	      <td>318M200406</span></td>  
	      <td><a href="http://shipsked.ucsd.edu/Ships/Melville/">Melville</a></td>  
	      <td>190</td>  
	      <td class="wider"><a href="http://cchdo.ucsd.edu/data_access?ExpoCode=318M200406">CCHDO</a></td>   
	      <td>USHYDRO</td>  
	      <td><a href="http://currents.soest.hawaii.edu/clivar_co2/year2004.html">U. Hawaii</a></td>  
	      <td>U. Hawaii<br /><a href="http://currents.soest.hawaii.edu/clivar/ladcp/P02W">P02W</a> <a href="http://currents.soest.hawaii.edu/clivar/ladcp/P02E">P02E</a></td>  
	      <td><a href="http://www.coaps.fsu.edu/RVSMDC/CLIVAR/html/data.shtml">FSU Met. DAC</a></td> 
		</tr> 
		<tr>  
      	<td>P16S</td>  
	      <td>1/9/05 - <br />2/22/05</td>  
	      <td>33RR200501</td>  
	      <td><a href="http://shipsked.ucsd.edu/Ships/Roger_Revelle/">Revelle</a></td>  
	      <td>111</td>  
	      <td class="wider"><a href="http://cchdo.ucsd.edu/data_access?ExpoCode=33RR200501">CCHDO</a></td>
	      <td><a href="http://cdiac.ornl.gov/oceans/ndp_090/">CDIAC</a></td>  
	      <td><a href="http://currents.soest.hawaii.edu/clivar_co2/year2005.html">U. Hawaii</a></td>  
	      <td><a href="http://currents.soest.hawaii.edu/clivar/ladcp/P16S">U. Hawaii</a></td>  
	      <td><a href="http://www.coaps.fsu.edu/RVSMDC/CLIVAR/html/data.shtml">FSU Met. DAC</a></td> 
		</tr> 
		<tr>  
      	<td>A16S</td>  
	      <td>1/11/05 - <br />2/26/05</td>  
	      <td>33RO200501</td>  
	      <td><a href="http://www.moc.noaa.gov/rb/">Brown</a></td>  
	      <td>121</td>  
	      <td class="wider"><a href="http://cchdo.ucsd.edu/data_access?ExpoCode=33RO200501">CCHDO</a></td>     
	      <td><a href="http://www.aoml.noaa.gov/ocd/gcc/rvbrown_data2005.php">NOAA / AOML</a><br /><a href="http://cdiac.ornl.gov/oceans/ndp_087/">CDIAC</a></td>  
	      <td><a href="http://currents.soest.hawaii.edu/clivar_co2/year2005.html">U. Hawaii</a></td>  
	      <td><a href="http://currents.soest.hawaii.edu/clivar/ladcp/A16S">U. Hawaii</a></td>  
	      <td><a href="http://www.coaps.fsu.edu/RVSMDC/CLIVAR/html/data.shtml">FSU Met. DAC</a></td> 
		</tr> 
		<tr>  
      	<td>P16N <br />P16C</td>  
	      <td>2/13/06 - <br />3/30/06</td>  
	      <td>325020060213</td>  
	      <td><a href="http://www.ocean.washington.edu/2004/services/vessels/tgt/tgt.html">Thompson</a></td>  
	      <td>84</td>  
	      <td class="wider"><a href="http://cchdo.ucsd.edu/data_access?ExpoCode=325020060213">CCHDO</a></td>       
	      <td><a href="http://cdiac.ornl.gov/oceans/ndp_090/">CDIAC</a></td>  
	      <td><a href="http://currents.soest.hawaii.edu/clivar_co2/year2006.html">U. Hawaii</a></td>  
	      <td>U. Hawaii<br /><a href="http://currents.soest.hawaii.edu/clivar/ladcp/P16C">P16C</a> <a href="http://currents.soest.hawaii.edu/clivar/ladcp/P16N">P16N</a></td>  
	      <td><a href="http://www.coaps.fsu.edu/RVSMDC/CLIVAR/html/data.shtml">FSU Met. DAC</a></td> 
		</tr> 
		<tr>  
      	<td>I8S</td>  
	      <td>2/4/07 - <br />3/17/07</td>  
	      <td>33RR20070204</td>  
	      <td><a href="http://shipsked.ucsd.edu/Ships/Roger_Revelle/">Revelle</a></td>  
	      <td>88</td>  
	      <td class="wider"><a href="http://cchdo.ucsd.edu/data_access?ExpoCode=33RR20070204">CCHDO</a></td>      
	      <td><a href="http://cdiac.ornl.gov/ftp/oceans/CLIVAR/I08S_2007.data/">CDIAC</a></td>  
	      <td><a href="http://currents.soest.hawaii.edu/clivar_co2/year2007.html">U. Hawaii</a></td>  
	      <td><a href="http://currents.soest.hawaii.edu/clivar/ladcp/I08S">U. Hawaii</a></td>  
	      <td><a href="http://www.coaps.fsu.edu/RVSMDC/CLIVAR/html/data.shtml">FSU Met.  DAC</a></td>
		</tr> 
		<tr>  
      	<td>I9N</td>  
	      <td>3/22/07 - <br />5/2/07</td>  
	      <td>33RR20070322</td>  
	      <td><a href="http://shipsked.ucsd.edu/Ships/Roger_Revelle/">Revelle</a></td>  
	      <td>111</td>  
	      <td class="wider"><a href="http://cchdo.ucsd.edu/data_access?ExpoCode=33RR20070322">CCHDO</a></td>  
	      <td><a href="http://cdiac.ornl.gov/ftp/oceans/CLIVAR/I09N_2007.data/">CDIAC</a></td>  
	      <td><a href="http://currents.soest.hawaii.edu/clivar_co2/year2007.html">U. Hawaii</a></td>  
	      <td><a href="http://currents.soest.hawaii.edu/clivar/ladcp/I09N">U. Hawaii</a></td>  
	      <td><a href="http://www.coaps.fsu.edu/RVSMDC/CLIVAR/html/data.shtml">FSU Met. DAC</a></td> 
		</tr> 
		<tr>  
      	<td>P18</td>  
	      <td>12/15/07 - <br />2/23/08</td>  
	      <td>33RO20071215</td>  
	      <td><a href="http://www.moc.noaa.gov/rb/">Brown</a></td>  
	      <td>174</td>
	      <td class="wider"><a href="http://cchdo.ucsd.edu/data_access?ExpoCode=33RO20071215">CCHDO</a></td>     	
          <td><a href="http://www.aoml.noaa.gov/ocd/gcc/rvbrown_data2007.php">NOAA / AOML</a></td> 
	      <td>U. Hawaii<br /><a href="http://currents.soest.hawaii.edu/clivar_co2/year2007.html">Leg 1</a> <a href="http://currents.soest.hawaii.edu/clivar_co2/year2008.html">Leg 2</a></td>  
	      <td>U. Hawaii<br /><a href="http://currents.soest.hawaii.edu/clivar/ladcp/P18_1">Leg 1</a> <a href="http://currents.soest.hawaii.edu/clivar/ladcp/P18_2">Leg 2</a></td>
          <td><a href="http://www.coaps.fsu.edu/RVSMDC/CLIVAR/html/data.shtml">FSU Met. DAC</a></td>
      </tr> 
		<tr>  
      	<td>I6S</td>  
	      <td>2/4/08 - <br />3/17/08</td>  
	      <td>33RR20080204</td>  
	      <td><a  href="http://shipsked.ucsd.edu/Ships/Roger_Revelle/">Revelle</a></td> 
	      <td>106</td>
	      <td class="wider"><a href="http://cchdo.ucsd.edu/data_access?ExpoCode=33RR20080204">CCHDO</a></td>
	      <td><a href="http://cdiac.ornl.gov/ftp/oceans/CLIVAR/I06S_2008.data/I06S_33RR20080204_Underway_data/">CDIAC</a></td>
	      <td><a href="http://currents.soest.hawaii.edu/clivar_co2/year2008.html">U. Hawaii</a></td>
	      <td><a href="http://currents.soest.hawaii.edu/clivar/ladcp/I06S">U. Hawaii</a></td>  
	      <td><a href="http://www.coaps.fsu.edu/RVSMDC/CLIVAR/html/data.shtml">FSU Met. DAC</a></td>
      </tr>
		<tr>  
      	<td>I5</td>  
	      <td>03/20/09 - 05/15/09 <br /> </td>  
	      <td>33RR20090320</td>  
	      <td><a  href="http://shipsked.ucsd.edu/Ships/Roger_Revelle/">Revelle</a></td> 
	      <td>195</td>
	      <td class="wider"><a href="http://cchdo.ucsd.edu/data_access?ExpoCode=33RR20090320">CCHDO</a></td>
	      <td></td>
	      <td><a href="http://currents.soest.hawaii.edu/clivar_co2/year2009.html">U. Hawaii</a></td>
	      <td><a href="http://currents.soest.hawaii.edu/clivar/ladcp/I5S_2009/">U. Hawaii</a></td>
	      <td></td>
      </tr>		
     <tr>
        <td>P6 leg 1</td>
              <td>11/21/09 - 01/02/10 <br /> </td>
              <td>318M20091121</td>
              <td><a  href="http://shipsked.ucsd.edu/Ships/Melville/">Melville</a></td>
              <td>127</td>
              <td class="wider"><a href="http://cchdo.ucsd.edu/data_access?ExpoCode=318M20091121">CCHDO</a></td>
              <td>n/c</td>
              <td><a href="http://currents.soest.hawaii.edu/clivar_co2/year2009.html">U. Hawaii</a></td>
              <td><a href="http://currents.soest.hawaii.edu/clivar/ladcp/P6_2009_2010/">U. Hawaii</a></td>
              <td></td>
      </tr>
     <tr>
        <td>P6 leg 2</td>
              <td>01/05/10 - 02/10/10 <br /> </td>
              <td>318M20100105</td>
              <td><a  href="http://shipsked.ucsd.edu/Ships/Melville/">Melville</a></td>
                  <td>123</td>
              <td class="wider"><a href="http://cchdo.ucsd.edu/data_access/show_cruise?ExpoCode=318M20100105">CCHDO</a></td>
              <td><a href="http://cdiac.ornl.gov/ftp/oceans/CLIVAR/P06_2009/Underway/">CDIAC</a></td>
              <td><a href="http://currents.soest.hawaii.edu/clivar_co2/year2010.html">U. Hawaii</a></td>
              <td><a href="http://currents.soest.hawaii.edu/clivar/ladcp/P6_2009_2010/">U. Hawaii</a></td>
              <td></td>
      </tr>
     <tr>
        <td>A13.5</td>
              <td>03/07/10 - 04/17/10 <br /> </td>
              <td>33RR20100307</td>
              <td><a  href="http://www.moc.noaa.gov/rb/">Brown</a></td>
                  <td>129</td>
              <td class="wider"><a href="http://cchdo.ucsd.edu/data_access/show_cruise?ExpoCode=33RO20100308">CCHDO</a></td>
              <td><a href="http://cdiac.ornl.gov/ftp/oceans/CLIVAR/A13.5_2010.data/">CDIAC</a></td>
              <td><a href="http://currents.soest.hawaii.edu/clivar_co2/year2010.html">U. Hawaii</a></td>
              <td><a href="http://currents.soest.hawaii.edu/clivar/ladcp/A13_5_2010/">U. Hawaii</a></td>
              <td><a href="http://www.coaps.fsu.edu/RVSMDC/CLIVAR/html/data.shtml">FSU Met. DAC</a></td>
      </tr>
     <tr>
        <td>S04P</td>
              <td>02/19/11 - 04/28/11 <br /> </td>
              <td>320620110219</td>
              <td><a href="http://www.nsf.gov/od/opp/support/nathpalm.jsp">Palmer</a></td>
                  <td>140</td>
              <td class="wider"><a href="http://cchdo.ucsd.edu/data_access/show_cruise?ExpoCode=320620110219">CCHDO</a></td>
              <td><a href="http://cdiac.ornl.gov/ftp/oceans/CLIVAR/S04P_2011/Underway/">CDIAC</a></td>
              <td><a href="http://currents.soest.hawaii.edu/clivar_co2/year2011.html">U. Hawaii</a></td>
              <td><a href="http://currents.soest.hawaii.edu/clivar/ladcp/S4P_2011/">U. Hawaii</a></td>
              <td></td>
      </tr>
     <tr>
        <td>A10</td>
              <td>08/27/11 - 10/01/11 <br /> </td>
              <td>33RO20110926</td>
              <td><a  href="http://www.moc.noaa.gov/rb/">Brown</a></td>
                  <td>120</td>
              <td class="wider"><a href="http://cchdo.ucsd.edu/data_access/show_cruise?ExpoCode=33RO20110926">CCHDO</a></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      </tr>
	  <tr>
      		<td>A22</td>
             <td>03/24/12 - 04/17/12 <br /> </td>
             <td>33AT20120324</td>
             <td><a href="http://www.whoi.edu/page.do?pid=8143">Atlantis</a></td>
                 <td>81</td>
             <td class="wider"><a href="http://cchdo.ucsd.edu/data_access/show_cruise?ExpoCode=33AT20120324">CCHDO</a></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
       </tr>
	  <tr>
      		<td>A20</td>
             <td>04/19/12 - 05/15/12 <br /> </td>
             <td>33AT20120419</td>
             <td><a href="http://www.whoi.edu/page.do?pid=8143">Atlantis</a></td>
                 <td>83</td>
             <td class="wider"><a href="http://cchdo.ucsd.edu/data_access/show_cruise?ExpoCode=33AT20120419">CCHDO</a></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
       </tr>
    </table>
