<!DOCTYPE html>
<div id="weekly_report">
	<div class="progress">
	<h3>RVIB Nathaniel B. Palmer NBP-1102/S04P Weekly Scientific Report 04</h3>
	<h4 class="date">18 March 2011</h4>
	<h4>from Jim Swift, SIO, Chief Scientist and Alex Orsi, TAMU, Co-Chief Scientist</h4>
	<div>(sent via BCC email)<br>
	(the next weekly report should be sent on time, in a few days)
	</div>
	</div>
</div>

<div class="header">
(ca. <%= link_to "#{@lat}, #{@lng}", "/progress/index" -%>) <!--76.5&deg;S, 161.&deg;W--><br>
2230 Z (1230 local)<br>
-7.8 &deg;C (18 &deg;F)<br>
winds 20 knots from E<br>
en route to Mooring Site A and station 067<br>
</div>

<div class="entry_body">
<p class="img-right">
	<a href="/images/s4p/Wilson_EmperorPenguins2.jpg" rel="lightbox[s4p]" title="Two Emperor penguins"><img src="/images/s4p/Wilson_EmperorPenguins2.jpg" width="130" title="Two Emperor penguins" alt="Two Emperor penguins" /></a><br>
<span class="caption">Two Emperor penguins (Wilson Mendoza)</span>
</p>
	
<p>On our first Thursday, March 17th (see below for explanation) we finished
our planned line of stations 525 nautical miles straight south from 67&deg;S
(roughly the Antarctic Circle) to the Antarctic continental shelf, stopping
every 30 miles to make measurements. This completes for the first time the
southern end of a long transect of oceanographic measurements extending
from Kodiak Island, Alaska, to Antarctica, known to oceanographers as "line
P16". This also completes a key portion of our intended work on this
cruise, though there is a great deal more work to do. Data quality remains
excellent, and all systems are working well, except that one of the two
lowered Acoustic Doppler Current meters (LADCP) is out of service, limiting
LADCP profiles now to downward-looking only.</p>

<p>See the attached <a href="#figure">figure</a>, and its caption below, from Alex for a discussion
of some of the scientific findings apparent when comparing the 2011 data
with those from earlier years.</p>

<p class="img-left"><a href="/images/s4p/Nancy_Williams_NBP1102_9.jpg" rel="lightbox[s4p]" title="Iceberg at sunset"><img src="/images/s4p/Nancy_Williams_NBP1102_9.jpg" width="130" title="Iceberg at sunset" alt="Iceberg at sunset" /></a><br>
	<span class="caption">Iceberg at sunset (Nancy Williams)</span></p>

<p>We have all enjoyed the good weather. The last group of 5 closely-spaced
stations were carried out in highly varied and increasingly more impressive
ice ranging from the smallest newly-formed frazil ice that "greases" the
sea surface, to new "pancake ice" of various sizes (very easy going), to
first (easy) and multi-year (try to avoid) sea ice, to impressively thick
pieces of broken off ice shelf (impossible), to mighty icebergs (likewise).
The Palmer's mates and our expert ice pilot Vladimir Repin enjoy the
challenge of guiding the ship through the maze of ice day and night. The
Nathaniel B. Palmer's large bridge has great all-around views and is The
Place To Be when one has a bit of time off, though the weather has been so
good that some have bundled up and to watch icebreaking from the bow or
other points outdoors on the ship. The ice and icebergs provide many photo
opportunities and we frequently come across penguins and basking seals.</p>

<p>We are at the edge of the footprints of both of the geosynchronous INMARSAT
satellites (one over the Atlantic equator and the other over the Pacific
equator) that provide our primary email communications, so email may
continue to be a bit sporadic until we head back north to the S04P line at
67&deg;S. Although we did our date line crossing some time ago we saved our
day/date change to celebrate St. Patrick's Day (Thursday, March 17th) twice
on the ship.</p>

<p>Our cruise is now approximately at its half-way point. We are steaming
toward the sites where we will recover two strings of moored instruments
co-chief scientist Alex Orsi deployed February 2010. We will then resume
our CTD work with our third crossing of the Antarctic continental slope.
Weather has been good to outstanding most of the past week, and during our
few days in the ice all hands enjoyed the wildlife and highly-varied ice.
New ice is forming around us, with grease ice consolidating in sheets and
pancakes. Meanwhile we motor around magnificent icebergs and slab-like
chunks of shelf edge ice.</p>

<p>We continue to enjoy working with our team at sea. This may be a very long
cruise but with this team it is a productive and happy one. The entire
ship's company continues to work with expertise, efficiency, and good
cheer. All is well aboard the Nathaniel B. Palmer.</p>

<p>We have included Nancy Williams' photo of an iceberg at sunset (<em>See above left</em>) and Wilson
Mendoza's photo of a group of Adelie penguins (<em>See above right</em>).</p>

<p>Jim and Alex</p>

<p><a name="figure" href="/reports/weekly_reports/CLIVAR_S4P_ptm_differences.png" rel="lightbox[s4p]" title="Figure from Alex Orsi"><img src="/reports/weekly_reports/CLIVAR_S4P_ptm_differences.png" width="730" alt="Figure from Alex Orsi" title="Figure from Alex Orsi"></a></p>

<p>Figure and caption from Alex Orsi.</p>

<p>Caption: a) Location map with stations occupied during the 2011 S04P repeat (red)
and in previous cruises (blue) of 1992 (WOCE), 2005 (CLIVAR) and 1994 (N.B.
Palmer); b) synoptic vertical section of potential temperature (&deg;C) on
CLIVAR S04P 2011; and c) on a multiyear composite from the older
hydrography.</p>

<p>Data from the just completed Antarctic coast-bound transect enclosing the
southwestern Pacific Ocean, partly due to unprecedented spatial and
temporal resolution, reveal a series of mesoscale to large-scale
circulations.  A southwestward loop of the Antarctic Circumpolar Current is
found across the southern half of the 150&deg;W line.  Significantly warmer
source Lower Circumpolar Deep Water (LCDW) now enters the interior subpolar
cyclones found around the Balleny Islands and to the south of the Southwest
Pacific Ridge.   Prominent westward flow associated with the Antarctic
Slope Current is revealed just upstream and downstream of the Ross Sea,
near Cape Colbeck and Cape Adare.  The Antarctic Surface Water (AASW)
carried farther inshore has cooled and freshened over time between the
repeat hydrography.  Evolving characteristics in the LCDW, AASW and Shelf
Water mixtures outflowing the Ross Sea are evident in the deep and bottom
layers of the S04P line.  E.g. on average the AABW recirculating below 3000
m in this region has increased its temperature by about 0.1&deg;C.</p>



</div>
