<div class="entry_body">
	<p>Dear Family, Friends, and Colleagues,</p>

	<p>The PolarTREC program is sponsoring a live event THURSDAY (April
	14th) with Juan Botella on the satellite phone along with an on-line
	presentation.  Anyone is welcome to participate on line, but
	registration is required. See the announcement below.</p>

	<p>Jim Swift</p>

	<p>PolarTREC Announcement:</p>

	<p>Join us for the upcoming real-time PolarConnect event with PolarTREC
	teacher, Juan Botella, and scientists of the Seawater Property Changes
	in the Southern Ocean who are on board the Icebreaker N.B. Palmer of the
	coast of Antarctica! Participants will learn more about the oceanography
	of the Antarctic and how scientists are studying this unique place.</p>

	<p>Anyone is welcome to participate: classrooms, teachers, or just
	interested members of the public. These events are hosted through the
	PolarTREC PolarConnect (formerly Live from IPY!) program, and
	participants will have a chance to learn from the scientists, ask
	questions, and chat with others during the presentation.</p>

	<p>EVENT DETAILS:<br>
	DATE: Thursday, 14 April 2011<br>
	TIME: 1:00 PM AST (2:00 PM PST, 3:00 PM MST, 4:00 PM CST, 5:00 PM EST)</p>

	<p>Registration: To register (required) and to receive instructions on how
	to join, go to:
	<a href="http://www.polartrec.com/polar-connect/register">http://www.polartrec.com/polar-connect/register</a></p>

	<p>For more information about the science that Mr. Botella is involved in,
	please read his journals at:
	<a href="http://www.polartrec.com/expeditions/seawater-property-changes-in-the-southern-ocean">http://www.polartrec.com/expeditions/seawater-property-changes-in-the-southern-ocean</a></p>

	<p>Questions?<br>
	Visit: <a href="http://www.polartrec.com">www.polartrec.com</a><br>
	Contact us at: <a href="mailto:info@arcus.org">info@arcus.org</a> or 907-474-1600</p>

	<p>PolarTREC is funded by the National Science Foundation Office of Polar
	Programs and managed by the Arctic Research Consortium of the United
	States (ARCUS), 3535 College Road, Suite #101, Fairbanks, AK U.S.A.
	99709-3710. <a href="http://www.arcus.org">www.arcus.org</a></p>
	
</div>