<!DOCTYPE html>
<div id="weekly_report">
	<div class="progress">
	<h3>RVIB Nathaniel B. Palmer NBP-1102/S04P Weekly Scientific Report 06</h3>
	<h4 class="date">31 March 2011</h4>
	<h4>from Jim Swift, SIO, Chief Scientist and Alex Orsi, TAMU, Co-Chief Scientist</h4>
	<div>(sent via BCC email)
	</div>
	</div>
</div>

<div class="header">
(ca. <%= link_to "#{@lat}, #{@lng}", "/progress/index" -%>) <!--67&deg;S, 139.7&deg;W--><br>
0100 Z 01 April (1500 31 March local)<br>
-0.4 &deg;C (31 &deg;F)<br>
winds 30 knots from NW<br>
en route to station 101
</div>

<div class="entry_body">
	<p>Our decision to do a somewhat-shortened version of the 170&deg;W section
	worked out fine.  (We'll attach a <a href="/reports/weekly_reports/NBP1102_progress_to_30MAR.pdf">map</a> to show you where we have sampled to
	date.)  The weather was great, we completed the 8th (final) station 6 hours
	before deadline, and the data showed the features we hoped to measure. We
	then began a planned 50-hour steam to our next station. Half-way through we
	had to slow down due to the rough ride in moderately heavy weather. The
	slow-down used all the hours we had gained and then some, but we finally
	got back to work.</p>

	<p>At our last station on the 170&deg;W line a group of humpback whales swam
	around us - close by - for a couple of hours (<em>See <a name="humpbacks" href="#whales">below</a></em>). Although we have no way to
	know, they seemed to be enjoying themselves, swimming by in different
	positions, flapping fins on the water, making grunting sounds, etc. Just
	listening to their deep breathing was a treat.</p>

	<p>As discussed in past reports, east of 150&deg;W we widened our station spacing
	from the originally planned 30 nautical miles to 45. We plan to keep to
	this spacing until approximately 130&deg;W.</p>

	<p>If weather were ideal, we would deploy the Yuan/Sprintall mooring at
	66.6&deg;S, 136&deg;W tomorrow afternoon, but that seems unlikely. There is list
	of planned events - bathymetric survey, on-site and regional CTD casts, the
	mooring deployment itself, XBT deployments along the path we steam - some
	of which can be in any order and some of which must occur in sequence. The
	team is very well prepared; all we need is good enough weather, which at
	present is in short supply. Watch for next week's report to see how it all
	came out.</p>

	<p>Well presented general information about our cruise is updated frequently
	on Juan Botella's blog. Juan is a high school science teacher from
	Wisconsin who is participating on our cruise as part of the NSF-sponsored
	PolarTREC program. You will see that Juan is gifted at describing what we
	do and he is also an excellent photographer. Please see
	<a href="http://www.polartrec.com/expeditions/seawater-property-changes-in-the-southern-ocean">http://www.polartrec.com/expeditions/seawater-property-changes-in-the-southern-ocean</a>.</p>

	<p>Life on board has been fine. We eat well (or a little too well in some
	cases). There are a few group activities such as a themed movie time. We
	were recently "killed" one by one in the stealthy tag game "murder" which
	is popular on research ships. (Juan was the winner, meaning the final
	"murderer" and last "alive".) The cribbage tournament is into round two.
	And there are plans afoot for a couple of other group events or activities.
	Little things, but it keeps life moving along.</p>

	<p>All is well on the Nathaniel B. Palmer.</p>

	<p>Jim and Alex</p>
	
	<table class="entry_table">
		<tr>
			<td><a name="whales" href="/images/s4p/Juan_Botella_pectorales.jpg" rel="lightbox[s4p]" title="Humpback Whale"><img src="/images/s4p/Juan_Botella_pectorales.jpg" width="130" alt="Humpback Whale" title="Humpback Whale"></a></td>
			<td><a href="/images/s4p/Juan_Botella_colas-2.jpg" rel="lightbox[s4p]" title="Humpback Whale tail"><img src="/images/s4p/Juan_Botella_colas-2.jpg" width="130" alt="Humpback Whale tail" title="Humpback Whale tail"></a></td>
			<td><a href="/images/s4p/Juan_Botella_caras-2.jpg" rel="lightbox[s4p]" title="Humpback Whale - up close"><img src="/images/s4p/Juan_Botella_caras-2.jpg" width="130" alt="Humpback Whale - up close" title="Humpback Whale - up close"></a></td>
			<td><a href="/images/s4p/Alex_Orsi_IMG_4087.jpg" rel="lightbox[s4p]" title="Humpback Whales - even closer"><img src="/images/s4p/Alex_Orsi_IMG_4087.jpg" width="130" alt="Humpback Whales - even closer" title="Humpback Whales - even closer"></a></td>
		</tr>
		<tr>
			<td><span class="caption">Humpback Whale<br> (Juan Botella)</span></td>
			<td><span class="caption">Humpback Whale tail<br> (Juan Botella)</span></td>
			<td><span class="caption">Humpback Whale - up close<br> (Juan Botella)</span></td>
			<td><span class="caption">Humpback Whales - even closer<br> (Alex Orsi)</span></td>
		</tr>
		<tr>
			<td colspan="4">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="4" align="center"><a href="#humpbacks">Return to referencing paragraph</a></td>
		</tr>
	</table>
	
</div>