<!DOCTYPE html>

<p class="progress">
Wednesday, 09 March 2011, 1515 local time<br>
67.0&deg;S, 157.5&deg;W<br>
-1 &deg;C / 30 &deg;F<br>
wind 17 knots from SW<br>
on station 039<br>
</p>

<p>Dear Family, Friends, and Colleagues,</p>

<p>What is remarkable about most of the past week may be how unremarkable it
was: after a long storm (our 4th!) which stopped our work last Thursday
morning finally abated in the wee hours Saturday, we have been working
steadily on our measurement program, just as we usually do and expect to do
on these cruises. We are making fine progress, though are about 4.5 days
behind the expedition deadline timeline. Small problems pop up in the
equipment from time to time, and we have found some ways to improve a few
procedures - pretty much business as usual. (I'll get into our science
program in future letters.) The sameness of the work - we are either on
station or steaming between stations around the clock - is an oddly
comforting measure of progress. Of course, we very much enjoy the little
breaks nature provides...</p>

<p class="img-right">
<%= image_tag 'blog/sunset_by_Aimee_Neeley.jpeg' -%><br>
<caption>Iceberg at sunset (Aimee Neeley)</caption>
</p>

 <p>Icebergs are a reliable scenic highlight of working
 near Antarctica, and when we chance upon one on a
 sunny moment (one of my photos is attached) or at
 sunrise or sunset (attached unenhanced sunset photo
 taken by Aimee Neeley), it's time to bring out
 the cameras.</p>

<div style="clear:both;"></div>

<p class="img-left">
<%= image_tag 'blog/aurora_Orion__Juan_Botella.jpeg' -%><br>
<caption>Whale tail (Juan Botella)</caption>
</p>

 <p>Along with some clear periods during days has come
 some clear periods at night, and we have seen the
 Aurora Australis ("Southern Lights") a few times.
 Our PolarTREC teacher, Juan Botella, captured some
 excellent night photos from a moving ship (!). I
 have attached two, enhanced for light level only.
 Notice the stars of Orion's belt in one of them?</p>

<div style="clear:both;"></div>

<p class="img-right">
<%= image_tag 'blog/whale_tail_Juan_Botella.jpeg' -%><br>
<caption>Whale tail (Juan Botella)</caption>
</p>

 <p>A few humpback whales visited the ship the other day,
 playing around (or feeding?) a bit before swimming off.
 Juan captured some nice photos (one is attached).</p>

<p>Nature is not the only source of welcome breaks: the galley staff is great
at keeping morale (and waistlines) at a maximum. Fresh bagels made a
surprise appearance, the cookie supply seems endless, the meal entrees are
as tasty and varied as ever (with some excellent vegetarian dishes, too) -
and I don't know what it was about Mexican night, but just about everyone
went back for seconds. Of course, because the ship was resupplied in that
garden spot known as McMurdo, no one is surprised that the fresh vegetable
supply is dwindling - lettuce is gone now, as expected.</p>

<p>This is a harmonious, very good natured bunch. Cribbage and foosball
tournaments are in full swing, groups linger at meals to enjoy
conversations, music is heard from time to time. All is well aboard the
Nathaniel B. Palmer.</p>

<p>Jim Swift<br>
Chief Scientist<br>
NBP-1102 / S04P</p>

<p style="text-align:center;">
<%= image_tag 'blog/mountain_berg_2_JHS.jpeg' -%><br>
<caption>Mountain iceberg (Swift)</caption>
</p>
