<!DOCTYPE html>

<div id="weekly_report">
	<div class="progress">
	<h3>RVIB Nathaniel B. Palmer NBP-1102/S04P Weekly Scientific Report 03</h3>
	<h4 class="date">10 March 2011</h4>
	<h4>from Jim Swift, SIO, Chief Scientist and Alex Orsi, TAMU, Co-Chief Scientist</h4>
	</div>
</div>

<div class="header">
(ca. <%= link_to "#{@lat}, #{@lng}", "/progress/index" -%>) <!--ca. 67&deg;S, 153.6&deg;W--><br>
0030 Z (1430 local)<br>
-0.8 &deg;C (31 &deg;F)<br>
winds 11 knots from S<br>
on station 041<br>
</div>

<div class="entry_body">
<p>The storm which stopped our work last Thursday morning finally abated early
Saturday. Since then we have been working steadily on our measurement
program, without weather or equipment delays. We are making good progress,
though remain about 5 days behind the expedition deadline timeline. Small
problems pop up in the equipment from time to time, and we have found some
ways to improve a few procedures - pretty much business as usual. Data
quality remains excellent. No surprise that the Circumpolar Deep Water and
its closest relatives remain consistently warmer and slightly saltier than
observed during the Akademik Ioffe S04P cruise in 1992.</p>

<p class="img-right">
<a href="/images/s4p/aurora_Orion_Juan_Botella.jpg" rel="lightbox[s4p]" title="Aurora Australis and constellation Orion"><img src="/images/s4p/aurora_Orion_Juan_Botella.jpg" width="130" alt="Aurora Australis and constellation Orion" title="Aurora Australis and constellation Orion"></a><br>
<span class="caption">Aurora Australis and constellation Orion<br> (Juan Botella)</span>
</p>

<p>We will soon turn from our eastward course and follow 150&deg;W south to the
Antarctic continental shelf, which will complete for the first time the far
south end of WOCE/CLIVAR/IOCCP line P16. Then it will be decision time for
the first cuts to the science program. The Palmer is steaming mostly at 9
knots to conserve fuel, and has quite understandably had to slow in fog at
night in waters where there are hazardous growlers and bergy bits that do
not show up on the radar. Not to mention that there is plenty of stormy
weather out there, just missing us at the moment. Because we can make up
four days simply by widening station spacing to 60 nmiles on the eastern
half of the 67&deg;S (S04P) section, we are not in an insurmountable situation
regarding the present time deficit, but we are still considering a 3-day
cut (the sampling along 170&deg;W, from 73&deg;S to 67&deg;S), which has been
discussed with the oversight committee and team PIs. Watch for next week's
report for our decision.</p>

<p>Small breaks provided by nature the past week include icebergs (the
reliable scenic highlight of working near Antarctica), the Aurora Australis
a few times (we've included two photos shot - <em>see above right and <a name="aurora_chimenea" href="#chimenea">below</a></em> - by Juan Botella, our PolarTREC
teacher), and a close-up visit by a few <a name="humpback" href="#tail">humpback whales</a>.</p>

<p>The galley staff is great at keeping morale (and waistlines) at a maximum.
Fresh bagels made a surprise appearance, the cookie supply seems endless,
the meal entrees are as tasty and varied as ever (with some excellent
vegetarian dishes, too). No one is surprised that the fresh vegetable
supply is dwindling - lettuce is gone now, for example.</p>

<p>We have not yet accounted for the date line in our current ship's day/date,
so enjoy the odd situation of now being on the same time zone as Hawaii,
but one day ahead. We have not yet changed day/dates mostly due to our plan
to go back to 180&deg;W to start a cross-shelf section after we complete the
150&deg;W section and two mooring recoveries, though I confess that the notion
of switching one week from today - thus having two March 17th's (St.
Patrick's days) - may have entered our minds.</p>

<p>This is a harmonious, very good natured bunch. Cribbage and foosball
tournaments are in full swing, groups linger at meals to enjoy
conversations, music is heard from time to time. All is well aboard the
Nathaniel B. Palmer.</p>

<p>Jim and Alex</p>

<table class="entry_table">
	<tr>
		<td><a  href="/images/s4p/aurora_Chimenea_Juan_Botella.jpg" rel="lightbox[s4p]" title="Aurora Chimenea"><img src="/images/s4p/aurora_Chimenea_Juan_Botella.jpg" alt="Aurora Chimenea" title="Aurora Chimenea" width="130"></a><br /></td>
		<td><a href="/images/s4p/whale_tail_Juan_Botella.jpg" rel="lightbox[s4p]" title="Whale tail"><img src="/images/s4p/whale_tail_Juan_Botella.jpg" width="130" alt="Whale tail" title="Whale tail"></a></td>
	</tr>
	<tr>
		<td><span class="caption">Aurora Chimenea (Juan Botella)</span><br><a name="chimenea" href="#aurora_chimenea">Back to paragraph</a></td>
		<td><span class="caption">Whale tail (Juan Botella)</span><br><a name="tail" href="#humpback">Back to paragraph</a></td>
	</tr>
</table>
</div>