<!DOCTYPE html>

<div id="weekly_report">
	<div class="progress">
	<h1>Saturday, 19 February 2011</h1>
	<em>McMurdo Base, Antarctica (<%= link_to "#{@lat}, #{@lng}", "/progress/index" -%>)</em><br>
	-8 &deg;C / 18 &deg;F<br>
	wind 22 knots from SSW
	</div>
</div>

<div class="entry_body">
	<p class="img-right">
	<a href="/images/s4p/Jim_arriving_McMurdo.jpg" rel="lightbox[s4p]" title="Arriving at McMurdo Station"><img src="/images/s4p/Jim_arriving_McMurdo.jpg" width="130"  alt="Arriving at McMurdo Station" title="Arriving at McMurdo Station" /></a><br>
	<span class="caption">Arriving at McMurdo Station<br> (unknown photographer)</span>
	</p><p>Dear Family, Friends, and Colleagues,</p>

	<!--p>I walked up to the McMUrdo base from the ice pier one last time to have a
	final internet session from the McMurdo base in order to send an update on
	preparations for our Antarctic research cruise, and more photos. I found
	out yesterday that my ship email account was not working because Raytheon
	Polar Services (RPSC) assigned me a different account name than they told
	me ahead of the cruise, so emails to james.swift.guest@nbp.usap.gov were
	bouncing back to senders. I asked RPSC to fix this yesterday and it should
	be working now, along with several name variations. It is fine to send
	emails to my shipboard address, but please take a few seconds to delete
	unnecessary text such as, in a reply, the text of a message I sent you.
	Thanks.</p-->

	<!--p>(NOTE: I will not be able to see any email sent to wfjvsg@hpfq.rqh -
	including replies to this message - from now until the end of April.
	Please use my shipboard email address until then.)</p-->

	<p><span class="note">Administrative material has
	been redacted for brevity.</span></p>

	<p>Most things are going well, with a few exceptions (more or less as usual).
	We took shuttles to the ship Thursday after lunch, and after a quick
	introductory tour and some safety reminders, we began unloading our cargo
	from the container vans that had been shipped south from California in
	December. We had six 20x8x8 foot vans, plus there was quite a bit of loose
	cargo that arrived by air. I heard someone say we loaded 90,000 lbs of
	cargo.</p>

	

	<p>The RPSC techs here were efficient in getting a van onto the deck, where
	our team would unload it like a swarm of army ants, then RPSC would swing
	it back down to the dock and replace it with another. There was deck space
	for two vans at a time so we worked nearly continuously.  I thought we
	would be working into the night, but we got all the main load done before
	dinner, with most boxes in the correct lab. There was lots of sorting out
	to do, and some more items came Friday morning, but even before Thursday's
	dinner people were setting up equipment.</p>

	<p>We still do not know the full extent of freeze damage caused by someone
	allowing most of our "Do Not Freeze" scientific cargo to freeze, but it
	appears to be light.  Miraculously our seawater standards for salinity and
	carbon were in the one van that was kept above freezing - if either had
	frozen I would have had to cancel the cruise.</p>

	<p>Mary Johnson (our CTD data processor) noticed mold in some of the
	computer-related boxes she was unpacking, and soon found damp, moldy
	office supplies and manuals, and more mold in other boxes. There were
	several plastic tote boxes with four or more inches of water with moldy,
	now frozen, contents, and others with some water/mold. The only thing we
	can figure was that someone took these items out of the well-packed SIO
	cargo container in California when it was raining. Then the wet items
	molded on the trip south and froze in the Antarctic. I lost all my office
	supplies and my back-up hard drive (frozen solid in a block of ice), and
	some of my sea clothes are now battered and splotchy after being washed
	twice in hot water and bleach. Thank goodness I am very conservative about
	my packing - because I have enough sea clothes to get by, and I brought a
	second back-up hard drive in my luggage. Fortunately the bassoon I brought
	- shipped in that same container - was dry and fine.</p>

	<p class="img-left">
	<a href="/images/s4p/molting_emperor_penguin.jpg" rel="lightbox[s4p]" title="Molting emperor penguin"><img src="/images/s4p/molting_emperor_penguin.jpg" width="130" title="Molting emperor penguin" alt="Molting emperor penguin" /></a><br>
	<span class="caption">Molting emperor penguin<br> (Swift)</span>
	</p>

	<p>There have been a couple of Adelie penguins (one either old or molting - <em>See left</em>)
	hanging around near the ice pier and one molting Emperor penguin, too (<a name="penguin_photos" href="#penguins">see
	photos</a>).  I also attached a <a name="pier" href="#palmer">photo of the Palmer</a> at the ice pier, and a
	shot of me (<em>See above right</em>) after I walked out of the Air Force C-17 onto the ice shelf
	runway near McMurdo.</p>

	<p class="img-right">
	<a href="/images/s4p/Antarctic_bassoon_with_Scott_hut.jpg" rel="lightbox[s4p]" title="Bassoon at the Scott 'Discovery' hut"><img src="/images/s4p/Antarctic_bassoon_with_Scott_hut.jpg" width="130" alt="Bassoon at the Scott 'Discovery' hut" title="Bassoon at the Scott 'Discovery' hut" /></a><br>
	<span class="caption">Bassoon at the Scott "Discovery" hut<br> (unknown photographer)</span>
	</p>

	<p>As some of you know, I am an amateur bassoonist, playing in the La Jolla
	Symphony (look them up on YouTube; I suggest the <a href="http://www.youtube.com/watch?v=1LtvmXmGw4o" target="_blank">"Frog's Eye" performance</a>
	as a good starter). The symphony's first bassoonist, Tom Schubert, loans
	me a bassoon of his to take on my trips (probably hoping it will improve
	my playing!). To accompany the photo of me playing Tom's bassoon at the
	North Pole in 2005, I have attached a photo of me playing in Antarctica
	this morning, with the 109-year-old Scott "Discovery" hut in the
	background. It was windy, about 18 &deg;F, with light snow. My fingers were
	cold, and the sound was not so good, but no matter: I did it!  (Thanks,
	Tom!)</p>

	<p>We leave at noon tomorrow (the 20th on this side of the date line), a day
	later than planned, but necessary due to the sequencing of events dictated
	by McMurdo's closing for the winter in a couple of days. I have a great
	team here, and the ship's crew and RPSC staff are very supportive.  The
	steward and the chief engineer (both key people and both great) remember
	me from 2003. The captain and I enjoy each other's company. So it's
	already feeling like a "sea family". I'm optimistic that we have an
	enjoyable and successful venture ahead.</p>

	<p>By the time of my next message we should have completed our test casts and
	be starting our scientific work off Adelie Land in the northwestern Ross
	Sea. All is well.</p>

	<p>Best Regards,<br>
	Jim Swift<br>
	Chief Scientist<br>
	NBP-1102 (S4P)<br>
	</p>

	<p>
	<table class="entry_table">
	  <tr>
	    <td><a name="palmer" href="/images/s4p/NBP_at_ice_pier.jpg" rel="lightbox[s4p]" title="Palmer at pier"><img src="/images/s4p/NBP_at_ice_pier.jpg" width="130" title="Palmer at pier" alt="Palmer at pier" /></a></td>
	    <td><a name="penguins" href="/images/s4p/old_or_molting_Adelie_penguin_near_ship.jpg" rel="lightbox[s4p]" title="Molting Adelie penguin"><img src="/images/s4p/old_or_molting_Adelie_penguin_near_ship.jpg" width="130" title="Molting Adelie penguin" alt="Molting Adelie penguin" /></a></td>
	    <td><a href="/images/s4p/other_Adelie_penguin_near_ship.jpg" rel="lightbox[s4p]" title="Another Adelie penguin"><img src="/images/s4p/other_Adelie_penguin_near_ship.jpg" width="130" title="Another Adelie penguin" alt="Another Adelie penguin" /></a></td>
	  </tr>
	  <tr>
	    <td><span class="caption">Palmer at pier (Swift)</span><br><a href="#pier">Back to the referencing paragraph.</a></td>
	    <td><span class="caption">Molting Adelie penguin (Swift)</span><br><a href="#penguin_photos">Back to the referencing paragraph.</a></td>
	    <td><span class="caption">Another Adelie penguin (Swift)</span><br><a href="#penguin_photos">Back to the referencing paragraph.</a></td>
	  </tr>
	</table>
	</p>
</div>
