<!DOCTYPE html>

<div id="weekly_report">
	<div class="progress">
	<h1>Thursday, 24 February 2011</h1>
	<em>(<%= link_to "#{@lat}, #{@lng}", "/progress/index" -%>)</em><br>
	-2 &deg;C / 28 &deg;F<br>
	wind 12 knots from E<br>
	on station 010
	</div>
</div>

<div class="entry_body">
<p>Dear Family, Friends, and Colleagues,</p>

<p class="img-right">
<a href="/images/s4p/scenery_as_we_left_McMurdo_2.jpg" rel="lightbox[s4p]" title="Scenery during departure"><img src="/images/s4p/scenery_as_we_left_McMurdo_2.jpg" width="130" alt="Scenery during departure" title="Scenery during departure"></a><br>
<span class="caption">Scenery during departure (Swift)</span>
</p>

<p>RVIB Nathaniel B. Palmer departed McMurdo Base Sunday noon, one day later
than originally planned.  (Instead of handling the cargo when the ship came
in, it was fueled first - normally we can set-up the labs during fueling
but of course our gear was not yet on board.) The area near McMurdo was
unusually free of sea ice. I saw a couple of penguins waving goodbye to us
(<a name="bye_penguins" href="#waving_penguins">photo attached</a>) and we enjoyed the bleak yet spectacular Antarctic scenery
(example photos attached - <em>See right and <a name="scenery" href="#mt_erebus">below</a></em>). There were a few whale tails or fins sighted
from time to time, but nothing dramatic.</p>

<p>As first I was busy non-stop, although in another sense I do very little,
because I mostly see that things get done, that person A gets together with
person B, and so forth, and others do most of the work. We had no major
problems but the techs were busy with the many details that all need to
come together. The RPSC techs on the ship were very helpful.</p>

<p>On the 21st the science team held two test/training rosette casts with the
large 36-place rosette. Only minor problems were encountered, all fixed in
short order. The evening of the 21st the trace metal team carried out a
trace metal cast, making up a station from the previous cruise lost to
weather. So after two and a half days of transit and these casts, we were
then ready to go, but during the 22nd, as the ship neared the location of
the first S04P station off Cape Adare, winds rose well past 30 knots, then
well past 40 knots. It was thus necessary to wait until 1000 local time on
23 February to begin the S04P transect stations.</p>

<p>After nearly two weeks of travel from the US, cruise preparation at
McMurdo, transit to the northwestern Ross Sea, and waiting out the storm,
it was a joy to finally begin work. Everybody, all the equipment, and the
ship are working great, plus the weather has been good so far (though
forecast to seriously deteriorate tomorrow). We have almost completed the
portion of our transect across the Ross Sea deep outflow with virtually no
problems ... an outstanding beginning.</p>

<p>The food on the Palmer has been excellent. I have been eating lots of
vegetables, knowing the "freshies" will not last long. The ship has a baker
and it is very hard to resist the continual flow of fresh treats. The
freshly-baked rolls at lunch and dinner are irresistible. In self defense I
have used the ship's modest gym every day at sea so far. Their aerobic
machines are updated since 2003 (the ones in 2003 were the same as in 1996
so I was wondering about that) and OK. There is adequate equipment for
resistance training, but I am still getting used to it. I have practiced
the bassoon regularly, too. Relationships between all on board are friendly
and productive, the ship itself lovingly-maintained for productive research
and pleasant life on board.</p>

<p>Some of our colleagues and hundreds of RPSC personnel being flown out of
McMurdo (as it switches from 1000-person summer staffing to a 200-person
winter complement) were caught in Christchurch by the latest earthquake. We
have heard that the people we worked with on board are safe, though many
were separated from their belongings, passports, and so forth, and face
many difficulties along with those endured by the residents of that lovely
small city. Our thoughts are truly with them.</p>

<p>We received an email last night from Kevin Cahill (WHOI), the helium set-up
tech, who was unhurt but lost his luggage in the earthquake, which included
this about Rick Rupan, the Argo float set-up tech who had to send all his
PI's floats back to Seattle due to being frozen: "It turns out that Rick is
a volunteer back in Seattle with the Red Cross Disaster Relief team. His
job is to run a shelter in case of emergency and that's what he did last
night. It was pretty impressive, Rick and Aaron did an amazing job. He got
everyone's name, set up the elderly and young women and family's with beds
in the neighbor's houses. They kept a lot of anxious people calm, warm and
safe. ... It turns out Rick wasn't here for the floats, he was here to help
out in the quake."</p>

<p>I am sleeping well, eating too well, and doing well. I would have said that
I have done this work frequently enough now that I am nearing Jedi Master
stage, but during our second test cast I temporarily forgot that the
display the winch operator was working from had a 40+ meter error [now
corrected] and _almost_ forgot to tell the winch operator to slow down as
he was bringing our multi-hundred-thousand dollar instrument package near
the surface. Everything worked out OK, but the error reminded me to think,
think, think.</p>

<p>All is well aboard the Nathaniel B. Palmer.</p>

<p>Jim Swift<br>
Chief Scientist<br>
NBP-1102 / S04P<br>
</p>

<p>
<table class="entry_table">
  <tr>
    <td><a href="/images/s4p/penguins_as_ship_departed.jpg" rel="lightbox[s4p]" title="Penguins during departure"><img src="/images/s4p/penguins_as_ship_departed.jpg" width="130" alt="Penguins during departure" title="Penguins during departure"></a></td>
    <td><a href="/images/s4p/MtErebus_as_we_headed_north_2.jpg" rel="lightbox[s4p]" title="Mt. Erebus"><img src="/images/s4p/MtErebus_as_we_headed_north_2.jpg" width="130" alt="Mt. Erebus" title="Mt. Erebus"></a></td>
  </tr>
  <tr>
    <td><span class="caption">Penguins during departure (Swift)</span><br><a name="waving_penguins" href="#bye_penguins">Back to paragraph</a></td>
    <td><span class="caption">Mt. Erebus (Swift)</span><br><a name="mt_erebus" href="#scenery">Back to paragraph</a></td>
  </tr>
</table>
</p>
</div>