<!DOCTYPE html>

<div id="weekly_report">
	<div class="progress">
	<h3>RVIB Nathaniel B. Palmer NBP-1102/S04P Weekly Scientific Report 02</h3>
	<h4 class="date">03 March 2011</h4>
	<h4>from Jim Swift, SIO, Chief Scientist and Alex Orsi, TAMU, Co-Chief Scientist</h4>
	</div>
</div>

<div class="header">
<!--ca. 66.9&deg;S, 175.6&deg;W--> (ca. <%= link_to "#{@lat}, #{@lng}", "/progress/index" -%>)<br>
0200 Z (1500 local; NBP is staying on western Ross Sea time/date for now)<br>
2 &deg;C (35 &deg;F)<br>
winds 38 knots from N<br>
waiting for weather near position of intended station 024<br>
</div>

<div class="entry_body">
<p class="img-right">
<a href="/images/s4p/wave_on_deck_2.jpg" rel="lightbox[s4p]" title="Wave breaking on deck"><img src="/images/s4p/wave_on_deck_2.jpg" width="130" alt="Wave breaking on deck" title="Wave breaking on deck"></a><br>
<span class="caption">Wave breaking on deck (NBP)</span>
</p>

<p>We began our work off Cape Adare, a location notorious for high winds.
Indeed, seas and swell have already disrupted CTD operations on Nathaniel
B. Palmer four times, with 84 hours lost to date (the equivalent of 18
stations). The Palmer rides the storms well. The captain and mates choose
a heading and slow speed that will provide a reasonably good ride, and try
to judge when to head back to the next station just in time for the seas to
have improved post-storm to the point where we can go back to work. During
the biggest storm, during a long spell of sustained winds over 50 knots, a
<a name="cargo_van" href="#damaged_cargo">storage van</a> on the fantail was partly caved in by a wave.</p>

<p class="img-left">
<a href="/images/s4p/4_crabeater_seals.jpg" rel="lightbox[s4p]" title="Crabeater seals"><img src="/images/s4p/4_crabeater_seals.jpg" width="130" alt="Crabeater seals" title="Crabeater seals"></a><br>
<span class="caption">Crabeater seals (Swift)</span>
</p>

<p>At one point while we were waiting out a storm near an intended station
location, we entered a field of rotten first-year sea ice leftover from the
summer melt. We quickly prepared the rosette, knowing that in the ice the
large seas would be damped down, and, indeed, we got a station done despite
the weather. Meanwhile we passed by some crabeater and <a name="leopard" href="#leopard_seals">leopard seals</a> hauled
out onto the ice, making a nice photo op.</p>

<p>It's not all been storms, of course. The team is working diligently and
every measurement program is going well. Water sample data are being
delivered to the onboard data system by all the groups, and the data
processors update the data files regularly. We already have some exciting
science results: significant changes since 1992 in seawater temperature and
salinity along our transect of stations NE from Cape Adare. The cold, salty
Ross Sea Bottom Water dense outflow so prominent in 1992 on the west end of
the S04P section is now gone, and the Circumpolar Deep Water offshore is
warmer and saltier than it was 19 years ago. We've included a
<a href="/reports/weekly_reports/S04P_report_02_02Mar2011_figure.pdf">figure and
Alex's scientific caption</a> to whet the appetites of the PIs ashore.</p>

<p>The food is great (some of us already fear we may be getting great
ourselves).  All hands - ECO, RPSC, and science guests alike - enjoy the
friendly and productive atmosphere on board. The ECO engineers and RPSC
staff have been very helpful in quickly solving any problems that arise. We
may get a tiny bit frustrated during the storms - we came here to work,
after all - but we are a happy bunch.</p>

<p>All is well.</p>

<p>Jim and Alex</p>

<p>
<table class="entry_table">
  <tr>
    <td><a href="/images/s4p/wave_damaged_cargo_van.jpg" rel="lightbox[s4p]" title="Cargo van damaged by waves"><img src="/images/s4p/wave_damaged_cargo_van.jpg" width="130" alt="Cargo van damaged by waves" title="Cargo van damaged by waves"></a></td>
    <td><a href="/images/s4p/leopard_seal_2.jpg" rel="lightbox[s4p]" title="Leopard seal"><img src="/images/s4p/leopard_seal_2.jpg" width="130" alt="Leopard seal" title="Leopard seal"></a><br></td>
  </tr>
  <tr>
    <td><span class="caption"><a name="damaged_cargo"></a>Cargo van damaged by waves (Swift)</span><br><a href="#cargo_van">Back to paragraph</a></td>
    <td><span class="caption"><a name="leopard_seals"></a>Leopard seal (Swift)</span><br><a href="#leopard">Back to paragraph</a></td>
  </tr>
</table>
</p>
</div>