<!DOCTYPE html>
<div id="weekly_report">
	<div class="progress">
	<h3>RVIB Nathaniel B. Palmer NBP-1102/S04P Weekly Scientific Report 09</h3>
	<h4 class="date">21 April 2011</h4>
	<h4>from Jim Swift, SIO, Chief Scientist and Alex Orsi, TAMU, Co-Chief Scientist</h4>
	<div>(sent via BCC email)</div>
	</div>
</div>

<div class="header">
(ca. <%= link_to "#{@lat}, #{@lng}", "/progress/index" -%>) <!--59.5&deg;S, 66.8&deg;W--><br>
1400 (2:00 pm) local time<br>
3.4 degC / 38 degF<br>
wind 39 knots from E<br>
en route to Punta Arenas, Chile<br>
</div>

<div class="entry_body">
<p>Dear Colleagues,</p>

<p>We are homeward bound!</p>

<p>At 05:25 local time on Tuesday, 19 April 2011,
the rosette from station 140, the easternmost
station we planned, and the last one on CLIVAR
S04P, was brought into the Baltic Room. This
completed the over-the-side work for our cruise,
though it took a day to analyze the samples that
we backlogged as we crossed the eastern boundary
of our study area. We arrived at the eastern end
a little earlier than expected due to an
unprecedented (for this cruise) eight day string
of days with light winds, plus our equipment
worked nearly flawlessly.</p>

<p>So what did we do next? We went on an
oceanographic treasure hunt! Believe it or not,
five days earlier a satellite had reported to its
base station that a <a name="Limeburner" href="#berg_float">400 meter long biophysical
mooring for Dr. Richard Limeburner</a> (Woods Hole),
deployed in 450 meters of water more than ten
years ago by Jim Ryder (the mooring tech on our
cruise), but lost in 2001 when it failed to rise
to the surface when triggered to do so, had all
of a sudden come to the surface and contacted the
satellite. (Good batteries!) The location was
only about 8 hours away. So after our final
station we motored over to its last reported
location and - voila! - <a name="sea_pigs" href="#buoy">there it was</a>! Jim, the
RPSC marine techs, and our students and other
helpers then set to work, recovering the entire
string of instruments, covered with <a name="ADCP" href="#growth">ten years of
marine growth</a>. Everything was cleaned and will be
returned to Dr. Limeburner. What a wild
coincidence!</p>

<p>We are now on our way to Punta Arenas, Chile,
which is our end port for this long cruise. We're
getting a bit of a weather blast today - after
all, this is Drake Passage, infamous for its
heavy weather - yet we are actually ahead of
schedule and are arriving a little early. We
still will not be able to begin our unloading
until Monday, due to Easter.</p>

<p>Tonight we will hold a little variety show on the
ship, featuring skits and music from our
"polliwogs" (those for whom this was their first
Antarctic crossing) plus some of the "red noses".
There will be a traditional induction for the
polliwogs tomorrow morning.</p>

<p>And that's just about that for this cruise. It's
been a long haul - 64 days at sea without a port
stop is a new record for most if not all of us.
But we achieved our scientific objectives (except
for the iced-up southern end of P18 and mooring
recoveries there), and enjoyed a safe and
productive time at sea. We are very grateful to
our shipmates from Edison Chouest Offshore, who
operate the Nathaniel B. Palmer and support us
and our science so well, thankful for our support
from our seven colleagues from Raytheon Polar
Services Corporation, and deeply appreciative of
our support for this venture from the National
Science Foundation, the National Oceanic and
Atmospheric Administration, and the National
Aeronautics and Space Administration.</p>

<p>We did it!</p>

<p>All is well on the Nathaniel B. Palmer.</p>

<p>Jim and Alex</p>

<p>Photos and illustrations this week:</p>

<p><a href="/reports/weekly_reports/cruise_track_21APR.pdf">our complete
cruise track</a> up through our location today.</p>

<p>
<a name="berg_float" href="/images/s4p/Kevin_Sullivan_Berg_float.jpg" rel="lightbox[s4p]" title="Recovery of one of the big floats from Dr. Limeburner's mooring"><img src="/images/s4p/Kevin_Sullivan_Berg_float.jpg" width="450" alt="Recovery of one of the big floats from Dr. Limeburner's mooring" title="Recovery of one of the big floats from Dr. Limeburner's mooring"></a><br>
<span class="caption">Recovery of one of the big floats from Dr. Limeburner's mooring<br> (Kevin Sullivan)</span><br>
<a href="#Limeburner">Back to referencing paragraph</a>
</p>
<p>
<a name="buoy" href="/images/s4p/Juan_Botella_sea_pigs_on_buoy.jpg" rel="lightbox[s4p]" title="The unusual-looking sea life on of the big floats"><img src="/images/s4p/Juan_Botella_sea_pigs_on_buoy.jpg" width="450" alt="The unusual-looking sea life on of the big floats" title="The unusual-looking sea life on of the big floats"></a><br>
<span class="caption">The unusual-looking sea life on of the big floats<br> (Juan Botella)</span><br>
<a href="#sea_pigs">Back to referencing paragraph</a>
</p>
<p>
<a name="growth" href="/images/s4p/Kevin_Sullivan_ADCP_with_growth.jpg" rel="lightbox[s4p]" title="Acoustic Doppler Current Profiler covered with 10 years of marine growth"><img src="/images/s4p/Kevin_Sullivan_ADCP_with_growth.jpg" width="450" alt="Acoustic Doppler Current Profiler covered with 10 years of marine growth" title="Acoustic Doppler Current Profiler covered with 10 years of marine growth"></a><br>
<span class="caption">Acoustic Doppler Current Profiler covered with 10 years of marine growth<br> (Kevin Sullivan)</span><br>
<a href="#ADCP">Back to referencing paragraph</a>
</p>
</div>
