<!DOCTYPE html>
<div class="entry_body">
	<p>Readers of the letter seem to especially enjoy the photos. Here are some
	additional photos:</p>

	<p>from Wilson Mendoza<br>
	 a seabird cruising above the ice<br>
	<a href="/images/s4p/Wilson_Mendoza_seabird_iceskating.jpg" title="Seabird cruising above the ice" rel="lightbox[s4p]"><img src="/images/s4p/Wilson_Mendoza_seabird_iceskating.jpg" alt="Seabird cruising above the ice" title="Seabird cruising above the ice"></a>
	</p>
	
	 <p>a seabird landing on (or taking off from?) the ice<br>
	<a href="/images/s4p/Wilson_Mendoza_seabird2.jpg" title="Seabird landing on/taking off from the ice" rel="lightbox[s4p]"><img src="/images/s4p/Wilson_Mendoza_seabird2.jpg" alt="Seabird landing on/taking off from the ice" title="Seabird landing on/taking off from the ice"></a>
	</p>
	
	 <p>a line of penguins in the distance<br>
		<a href="/images/s4p/Wilson_Mendoza_IMG_7503_2.jpg" title="Line of penguins" rel="lightbox[s4p]"><img src="/images/s4p/Wilson_Mendoza_IMG_7503_2.jpg" alt="Line of penguins" title="Line of penguins"></a>
		</p>

	<p>from Juan Botella<br>
	 penguins diving from the ice<br>
	<a href="/images/s4p/Juan_Botella_pngSaltando0316.jpg" title="Penguins diving from the ice" rel="lightbox[s4p]"><img src="/images/s4p/Juan_Botella_pngSaltando0316.jpg" alt="Penguins diving from the ice" title="Penguins diving from the ice"></a>
	</p>
	
	 <p>whale backs<br>
		<a href="/images/s4p/Juan_Botella_DSC_3436.jpg" title="Whale backs" rel="lightbox[s4p]"><img src="/images/s4p/Juan_Botella_DSC_3436.jpg" alt="Whale backs" title="Whale backs"></a>
		</p>
		 
	<p>a wave breaking on a large iceberg<br>
		<a href="/images/s4p/Juan_Botella_berg0302largo.jpg" title="Wave breaking on a large iceberg" rel="lightbox[s4p]"><img src="/images/s4p/Juan_Botella_berg0302largo.jpg" alt="Wave breaking on a large iceberg" title="Wave breaking on a large iceberg"></a>
		</p>
	</p>

	<p>Nancy Williams' photo of moonrise over the ice<br>
		<a href="/images/s4p/Nancy_Williams_NBP1102_15.jpg" title="Moonrise over the ice" rel="lightbox[s4p]"><img src="/images/s4p/Nancy_Williams_NBP1102_15.jpg" alt="Moonrise over the ice" title="Moonrise over the ice"></a>
	</p>
	
</div>