<!DOCTYPE html>

<div id="weekly_report">
	<div class="progress">
		<h1>Written Thursday, 17 March 2011, 2330 local time</h1>
		(our first March 17th - <a href="/blog/letter/2011-03-14">see letter</a>)<br>
		(saved for delivery when 400k file can be sent)<br>
		76&deg;S, 150.5&deg;W<br>
		-6.2 &deg;C / 21 &deg;F<br>
		wind 6 knots from SE<br>
		on transit to site of Mooring "A" Recovery
	</div>
</div>

<div class="entry_body">
<p>Dear Family, Friends, and Colleagues,</p>

<p>A few hours ago we finished our planned line of stations 525 nautical miles
straight south from 67&deg;S (roughly the Antarctic Circle) to the Antarctic
continental shelf, stopping every 30 miles to make measurements. This
completes for the first time the southern end of a long transect of
oceanographic measurements extending from Kodiak Island, Alaska, to
Antarctica, known to oceanographers as "line P16". The entire ship's
company carried this out with their usual expertise, efficiency, and good
cheer. We have all enjoyed the good weather and lack of equipment problems.
The last group of 5 closely-spaced stations were carried out in highly
varied and increasingly more impressive ice ranging from the smallest
newly-formed frazil ice that "greases" the sea surface, to new "pancake
ice" of various sizes (very easy going), to first (easy) and multi-year
(hard) sea ice, to impressively thick pieces of broken off ice shelf
(impossible), to mighty icebergs (likewise). The Palmer's mates and our
expert ice pilot Vladimir Repin enjoy the challenge of guiding the ship
through the maze of ice - they can slide and power easily through the easy
ice but of course must not hit the big stuff. It gets spicier at night,
which is when Vladimir has his fun. The ship's large bridge (where the ship
is steered) has great all-around views and is The Place To Be when one has
a bit of time off, though the weather has been so good that many have
bundled up a bit and tried watching icebreaking from the bow or other
points outdoors on the ship. The ice and icebergs provide many photo
opportunities and we frequently come across penguins and basking seals.
Icebreaker novices and old hands alike are enjoying this E-ticket ride
(younger readers may have to look up that <a href="http://en.wikipedia.org/wiki/E_ticket">term</a>).</p>

<p>As we worked our way south we edged closer and closer to the edge of the
"footprints" of both of the geosynchronous INMARSAT satellites (one over
the Atlantic equator and the other over the Pacific equator) that provide
our primary email communications - we are so far south that even though
these satellites sit in orbit thousands of miles above the equator, they
are below our horizon. Sometimes we can "see" one of the satellites and the
RPSC techs do a quick burst of email exchanges. In one sense it matters
little - we are self-contained and have everything we need to complete our
work - but we do grow accustomed to exchanging information, ideas, and
correspondence with those ashore, and so the interruption reminds us how
far away we really are here in the far south.</p>

<p>One of the oddities of working west-east (or east-west) in the Pacific
Ocean is the date line. Most oceanographers and experienced travelers
reading this are well aware of it, but many people ashore find it hard to
understand that somewhere (i.e., the date line) the date and day of the
week must change by one unit forward, if one is traveling west, or
backwards, if traveling east. Indeed, we did that crossing (eastward) some
time ago but saved our change to celebrate St. Patrick's Day (Thursday,
March 17th) twice on the ship, once today and again tomorrow.  (If we had
been going west we would have skipped one day/date when we made the
adjustment.) This does not affect the times we record with our measurements
one bit because for those we use "Universal Time", which was formerly known
as "Greenwich Mean Time".</p>

<p>Our cruise is now approximately at its half-way point.  We are steaming
west toward the sites where we will recover two strings of moored
instruments co-chief scientist Alex Orsi deployed February 2010.  We will
then resume our CTD work with our third crossing of the Antarctic
continental slope.</p>

<p>It is no surprise that I continue to enjoy working with our team at sea. I
may have planned a very long cruise but with this team it is a productive
and happy one. All is well aboard the Nathaniel B. Palmer.</p>

<p>Jim Swift<br>
Chief Scientist<br>
NBP-1102 / S04P<br>
</p>

<p>Photos this week include a beautiful sunset/iceberg photo by Nancy
Williams, Wilson Mendoza's photo of two Emperor penguins, a photo showing
several of the many ice types we see, a photo showing the view from the
bridge (with second mate Brandon Bell and PO grad student Eric Mortenson),
and a photo showing a group of penguins who are living on an iceberg,
including a few living surprisingly high up on it.</p>

<p>
<table class="entry_table">
  <tr>
    <td><a href="/images/s4p/Nancy_Williams_NBP1102_9.jpg" rel="lightbox[s4p]" title="Iceberg at sunset"><img src="/images/s4p/Nancy_Williams_NBP1102_9.jpg" width="130" title="Iceberg at sunset" alt="Iceberg at sunset" /></a></td>
    <td><a href="/images/s4p/Wilson_EmperorPenguins2.jpg" rel="lightbox[s4p]" title="Two Emperor penguins"><img src="/images/s4p/Wilson_EmperorPenguins2.jpg" width="130" title="Two Emperor penguins" alt="Two Emperor penguins" /></a></td>
    <td><a href="/images/s4p/JHS_several_ice_types.jpg" rel="lightbox[s4p]" title="Many ice types"><img src="/images/s4p/JHS_several_ice_types.jpg" width="130" title="Many ice types" alt="Many ice types" /></a></td>
  </tr>
  <tr>
    <td><span class="caption">Iceberg at sunset (Nancy Williams)</span></td>
    <td><span class="caption">Two Emperor penguins (Wilson Mendoza)</span></td>
    <td><span class="caption">Many ice types (Swift)</span></td>
  </tr>
  <tr>
	<td><a href="/images/s4p/JHS_view_from_bridge.jpg" rel="lightbox[s4p]" title="View from the bridge"><img src="/images/s4p/JHS_view_from_bridge.jpg" width="130" title="View from the bridge" alt="View from the bridge" /></a></td>
	<td><a href="/images/s4p/JHS_penguin_group_on_berg.jpg" rel="lightbox[s4p]" title="Group of penguins who are living on an iceberg"><img src="/images/s4p/JHS_penguin_group_on_berg.jpg" width="130" title="Group of penguins who are living on an iceberg" alt="Group of penguins who are living on an iceberg" /></a></td>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td><span class="caption">View from the bridge<br> 
		(with second mate Brandon Bell<br> 
		and PO grad student Eric Mortenson (Swift)</span></td>
	<td><span class="caption">Group of penguins who are living on an iceberg (Swift)</span></td>
	<td>&nbsp;</td>
  </tr>
</table>
</p>
</div>