<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Welcome to the US Repeat Hydrography</title>
  <%= javascript_include_tag 'prototype' %>
  <script type="text/javascript" src="javascripts/scriptaculous.js?load=effects,builder"></script>
  <%= javascript_include_tag 'lightbox' %>	
  <%= stylesheet_link_tag "lightbox" %>	
  <%= stylesheet_link_tag "main" %>
  <% if request.env["HTTP_USER_AGENT"] =~ /MSIE [4-6]/ %>
    <%= stylesheet_link_tag "ie" %>
  <% end %>


  <script type="text/javascript">
  startList = function() {
    if (document.all&&document.getElementById) {
      navRoot = document.getElementById("menu");
      for (i=0; i<navRoot.childNodes.length; i++) {
        node = navRoot.childNodes[i];
        if (node.nodeName=="UL") {
          for (j=0; j<node.childNodes.length; j++) {
            node2 = node.childNodes[j];
	    if (node2.nodeName=="LI") {
              node2.onmouseover=function() {
                this.className+=" over";
              }
              node2.onmouseout=function() {
                this.className=this.className.replace(" over", "");
              }
	    }
	    if (node2.nodeName=="UL") {
              for (k=0; k<node2.childNodes.length; k++) {
                node3 = node2.childNodes[j];
	        if (node3.nodeName=="LI") {
                  node3.onmouseover=function() {
                    this.className+=" over";
                  }
                  node3.onmouseout=function() {
                    this.className=this.className.replace(" over", "");
                  }
	        }
	      }
	    }
	  }
        }
      }
    }
  }
  window.onload=startList;
  </script>
</head>
<body>
<div id="centering">
  <div id="header">
    <div id="logo"></div>
  </div>
  <div id="menu">
    <ul> 
      <li><h1><a href="/home.htm">Home</a></h1></li>
    </ul>
    <ul>
      <li><h1>General Info</h1>
        <ul>
        <li><a href="/history_justification.htm">History &amp; Justification</a></li>
        <li><a href="/objectives.htm">Objectives</a></li>
        <li><a href="/members.htm">Oversight Committee</a></li>
	</ul>
    </ul>
    <ul>
      <li><h1>Observational Prog</h1>
        <ul>
        <li><a href="/cruises.htm">Cruise Schedule/Map</a></li>
        <li><a href="/core_measurements.htm" style="margin-right:-30px;">Measurements <img src="/images/arrow.png" style="margin-left: 20px;"/></a>
		  		<ul>
					<li><a href="/table_measurements_levi">Level I Measurements</a></li>
					<li><a href="/table_measurements_levii">Level II Measurements</a></li>
					<li><a href="/table_measurements_leviii">Level III Measurements</a></li>
				</ul>
		  </li>
        <li><a href="/data_policy.htm">Data Policy</a></li>
        </ul>
      </li>
    </ul>
    <ul>
      <li><h1>Data Sets</h1>
        <ul>
        <li><a href="/data_centers.htm">Data Centers</a></li>
        <li><a href="/cruise_data_links.htm">Cruise Data Links</a></li>
        </ul>
      </li>
    </ul>
    <ul>
      <li><h1>Links</h1>
        <ul>
	    <li><a href="http://cchdo.ucsd.edu/">CCHDO</a></li>
        <li><a href="http://www.carboncyclescience.gov/">US Carbon Cycle Science Program</a></li>
        <li><a href="http://www.usclivar.org/">US CLIVAR</a></li>
        <li><a href="/links.htm">Other Links</a></li>
        </ul>  
      </li>
    </ul>
    <ul>
      <li><h1><a href="/contacts.htm">Participation</a></h1>
		
      </li>  
    </ul>
	<ul>
      <li><h1><a href="/outreach.htm">Outreach</a></h1>
		
      </li>  
    </ul>
  </div>
	<div class="content">
		<%= yield %>
		<%page = params[:controller]
			outreachpages = %w[life_at_sea learn_more_about outreach day_in_life interactive_features photo_gallery video_vault static outreach_experiences outreach_instruments outreach_measurements outreach_posters outreach_technology outreach_data outreach_ships]
			homepage = %w[home]
			if outreachpages.include? page%><%= render :partial => 'outreach/nav_menu_outreach'%>
		<% elsif homepage.include? page %> <%= render :partial => 'home/nav_menu_main'%>
		<% end%>
	</div>
  	<div id="footer_text">
		<ul>
			<li><a href="">Back to top</a></li>
			<li><a href="http://ushydro.ucsd.edu">Home</a></li>
			<li><a href="http://ushydro.ucsd.edu/history_justification.htm">About USHydro</a></li>
			<li><a href="http://ushydro.ucsd.edu/contacts.htm">How to contact us</a></li>
		</ul>
	</div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-2167386-7");
pageTracker._trackPageview();
</script>
</body>
</html>
